Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:
  pool:
    vmImage: windows-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - task: DownloadSecureFile@1
    inputs:
      secureFile: local.properties
  - task: DownloadSecureFile@1
    inputs:
      secureFile: secring.gpg
  - task: DownloadSecureFile@1
    inputs:
      secureFile: secring.gpg.lock
  ...

.azure-pipelines/prValidate.yml:
  pool:
    vmImage: windows-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  - task: Gradle@2
    inputs:
      gradleWrapperFile: gradlew
  ...

- adds missing wrapper jar
  samples/deviceCodeSample/gradle/wrapper/gradle-wrapper.jar
Due: .azure-pipelines/prValidate.yml

- adds github action workflow to validate that samples build
  .github/workflows/sample-build-check.yml
Due: .azure-pipelines/prValidate.yml

- removes quote breaking workflow
  .github/workflows/sample-build-check.yml
Due: .azure-pipelines/prValidate.yml

- fixes a bug where the auth provider would add the JWT on wrong hostnames
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
  src/test/java/com/microsoft/graph/authentication/TokenCredentialAuthProviderTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- restores wrongly deleted script
  .azure-pipelines/buildAndPackage.yml
  Scripts/getLatestVersion.ps1
Due: none

- fixes an issue where authentication could hand forvever
  src/main/java/com/microsoft/graph/authentication/IAuthenticationProvider.java
  src/main/java/com/microsoft/graph/authentication/ICoreAuthenticationProvider.java
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
  src/main/java/com/microsoft/graph/exceptions/ErrorConstants.java
  src/main/java/com/microsoft/graph/httpcore/AuthenticationHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- improves performance by precompiling regex
  src/main/java/com/microsoft/graph/content/MSBatchRequestContent.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- replaces regex parsing by the version class
  Scripts/incrementMinorVersion.ps1
Due: none

- adds editor config
  .editorconfig
Due: .azure-pipelines/prValidate.yml

- fixes a bug where regex replacement on multithreading could cross wires
  src/main/java/com/microsoft/graph/content/MSBatchRequestContent.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- updates link to getting started and adds link to javadoc
  readme.md
Due: none

- fixes collection to include missing dependencies file
  .azure-pipelines/buildAndPackage.yml
Due: none

- adds feature/v2 as CI
  .azure-pipelines/buildAndPackage.yml
Due: none

- attempt at fixing minimatch pattern
  .azure-pipelines/buildAndPackage.yml
Due: none

- adds codeowners for the repository
  .github/CODEOWNERS
Due: .azure-pipelines/prValidate.yml

- adds android api version in telemetry handler
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
  src/test/java/com/microsoft/graph/httpcore/TelemetryHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- bumps patch
  gradle.properties
  pom.xml
  readme.md
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- space/tabs fix to make @zengin happy :)
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
  src/test/java/com/microsoft/graph/httpcore/TelemetryHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds security policy
  SECURITY.md
Due: .azure-pipelines/prValidate.yml

- adds code of conduct
  CODE_OF_CONDUCT.md
Due: .azure-pipelines/prValidate.yml

- adds missing javadoc comments
  src/main/java/com/microsoft/graph/content/MSBatchRequestContent.java
  src/main/java/com/microsoft/graph/content/MSBatchRequestStep.java
  src/main/java/com/microsoft/graph/content/MSBatchResponseContent.java
  src/main/java/com/microsoft/graph/httpcore/AuthenticationHandler.java
  src/main/java/com/microsoft/graph/httpcore/ChaosHttpHandler.java
  src/main/java/com/microsoft/graph/httpcore/HttpClients.java
  src/main/java/com/microsoft/graph/httpcore/ICoreAuthenticationProvider.java
  src/main/java/com/microsoft/graph/httpcore/RedirectHandler.java
  src/main/java/com/microsoft/graph/httpcore/RetryHandler.java
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/IMiddlewareControl.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/IShouldRedirect.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/IShouldRetry.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/MiddlewareType.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/RedirectOptions.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/RetryOptions.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/TelemetryOptions.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a mix of tabs and spaces
  src/main/java/com/microsoft/graph/content/MSBatchRequestContent.java
  src/main/java/com/microsoft/graph/content/MSBatchRequestStep.java
  src/main/java/com/microsoft/graph/content/MSBatchResponseContent.java
  src/main/java/com/microsoft/graph/httpcore/AuthenticationHandler.java
  src/main/java/com/microsoft/graph/httpcore/ChaosHttpHandler.java
  src/main/java/com/microsoft/graph/httpcore/HttpClients.java
  src/main/java/com/microsoft/graph/httpcore/RedirectHandler.java
  src/main/java/com/microsoft/graph/httpcore/RetryHandler.java
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/IShouldRedirect.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/IShouldRetry.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/MiddlewareType.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/RedirectOptions.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/RetryOptions.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/TelemetryOptions.java
  src/test/java/com/microsoft/graph/content/MSBatchRequestContentTest.java
  src/test/java/com/microsoft/graph/content/MSBatchRequestStepTest.java
  src/test/java/com/microsoft/graph/content/MSBatchResponseContentTest.java
  src/test/java/com/microsoft/graph/httpcore/AuthenticationHandlerTest.java
  src/test/java/com/microsoft/graph/httpcore/HttpClientsTest.java
  src/test/java/com/microsoft/graph/httpcore/RedirectHandlerTest.java
  src/test/java/com/microsoft/graph/httpcore/RetryHandlerTest.java
  src/test/java/com/microsoft/graph/httpcore/TelemetryOptionsTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where the telemetry header would not match the specification
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- updates unit test to match behavior change
  src/test/java/com/microsoft/graph/httpcore/TelemetryHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- bumps min API level to 26
  android/build.gradle
  readme.md
Due: .azure-pipelines/prValidate.yml

- adds code coverage reports
  .azure-pipelines/buildAndPackage.yml
  .azure-pipelines/prValidate.yml
  build.gradle
Due: .azure-pipelines/prValidate.yml

- adds missing guava reference
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

- adds mockito as dependency
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

- moves core, logger and options tests to core repo
  src/test/java/com/microsoft/graph/core/BaseClientTests.java
  src/test/java/com/microsoft/graph/core/ClientExceptionTests.java
  src/test/java/com/microsoft/graph/core/GraphServiceClientTest.java
  src/test/java/com/microsoft/graph/core/MultipartTests.java
  src/test/java/com/microsoft/graph/logger/DefaultLoggerTests.java
  src/test/java/com/microsoft/graph/options/OptionTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where the authentication provider returning null would trip the request chain
  src/main/java/com/microsoft/graph/httpcore/AuthenticationHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- replaces usage of internal classes and manual mocks by proper mocking
  src/test/java/com/microsoft/graph/httpcore/AuthenticationHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- enables wrongfully disabled test
  src/test/java/com/microsoft/graph/core/MultipartTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- moves part of the serializer tests
  src/test/java/com/microsoft/graph/serializer/ByteArraySerializerTests.java
  src/test/java/com/microsoft/graph/serializer/DateOnlyTests.java
  src/test/java/com/microsoft/graph/serializer/DurationTests.java
  src/test/java/com/microsoft/graph/serializer/ISO8601Test.java
  src/test/java/com/microsoft/graph/serializer/OffsetDateTimeSerializerTests.java
  src/test/java/com/microsoft/graph/serializer/TimeOfDayTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds missing legal text for IUploadsession
  src/main/java/com/microsoft/graph/concurrency/IUploadSession.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- brings options tests to 100%
  src/main/java/com/microsoft/graph/options/FunctionOption.java
  src/main/java/com/microsoft/graph/options/Option.java
  src/test/java/com/microsoft/graph/options/OptionTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- reverts defensive programming on option value as null values are valid
  src/main/java/com/microsoft/graph/options/Option.java
  src/test/java/com/microsoft/graph/options/OptionTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- moves some of the request tests
  src/test/java/com/microsoft/graph/http/BaseCollectionPageTests.java
  src/test/java/com/microsoft/graph/http/BaseRequestBuilderTests.java
  src/test/java/com/microsoft/graph/http/BaseRequestTests.java
  src/test/java/com/microsoft/graph/http/BaseStreamRequestTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- moves another set of http tests to the core library
  src/test/java/com/microsoft/graph/http/GraphErrorResponseTests.java
  src/test/java/com/microsoft/graph/http/GraphErrorTests.java
  src/test/java/com/microsoft/graph/http/GraphFatalServiceExceptionTests.java
  src/test/java/com/microsoft/graph/http/GraphServiceExceptionTests.java
  src/test/java/com/microsoft/graph/http/ReferenceRequestBodyTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- moves the remaining of the http tests to core
  src/test/java/com/microsoft/graph/http/BaseCollectionRequestTests.java
  src/test/java/com/microsoft/graph/http/CoreHttpProviderTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Path conditions:
  .azure-pipelines/buildAndPackage.yml: any of: src, but not: .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, build.gradle, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle
  .azure-pipelines/prValidate.yml: any file but: .azure-pipelines, .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
