Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - template: templates/build/checkout-and-credscan.yml
      - template: templates/install-java.yml
      - template: templates/secure-files.yml
        parameters:
          stageID: build
  ...

.azure-pipelines/prValidate.yml:
  pool:
    vmImage: windows-latest
  steps:
  - template: templates/build/checkout-and-credscan.yml
  - template: templates/build/install-java.yml
  - template: templates/build/build-and-coverage.yml
  - template: templates/alert-failure.yml

Update CHANGELOG.md
  CHANGELOG.md
Due: .azure-pipelines/prValidate.yml

Update gradle.properties
  gradle.properties
Due: none

Update pom.xml
  pom.xml
Due: .azure-pipelines/prValidate.yml

Update readme.md
  readme.md
Due: none

Update TelemetryHandler.java
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Code-Lint compliance changes
  src/main/java/com/microsoft/graph/CoreConstants.java
  src/main/java/com/microsoft/graph/httpcore/FeatureFlag.java
  src/main/java/com/microsoft/graph/httpcore/FeatureTracker.java
  src/main/java/com/microsoft/graph/httpcore/GraphTelemetryHandler.java
  src/main/java/com/microsoft/graph/httpcore/HttpClients.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/GraphClientOptions.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadRequest.java
  src/test/java/com/microsoft/graph/authentication/BaseAuthenticationProviderTest.java
  src/test/java/com/microsoft/graph/httpcore/GraphTelemetryHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Constants-classes compliance changes
  src/main/java/com/microsoft/graph/CoreConstants.java
  src/main/java/com/microsoft/graph/httpcore/FeatureFlag.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Code-lint compliance changes
  src/main/java/com/microsoft/graph/CoreConstants.java
  src/main/java/com/microsoft/graph/httpcore/FeatureFlag.java
  src/main/java/com/microsoft/graph/httpcore/FeatureTracker.java
  src/main/java/com/microsoft/graph/httpcore/GraphTelemetryHandler.java
  src/main/java/com/microsoft/graph/httpcore/HttpClients.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/GraphClientOptions.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadRequest.java
  src/test/java/com/microsoft/graph/authentication/BaseAuthenticationProviderTest.java
  src/test/java/com/microsoft/graph/httpcore/GraphTelemetryHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Code-Lint compliance changes
  src/main/java/com/microsoft/graph/CoreConstants.java
  src/test/java/com/microsoft/graph/httpcore/FeatureTrackerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- bumps the android tooling version to unlock CI
  android/build.gradle
Due: .azure-pipelines/prValidate.yml

Log message of GraphServiceException only once gh-480
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds changelog entry for error message fix
  CHANGELOG.md
Due: .azure-pipelines/prValidate.yml

Suppress FB Warnings on Tests, Make some Exceptions Explicit
  src/main/java/com/microsoft/graph/http/IStatefulResponseHandler.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResponseHandler.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
  src/test/java/com/microsoft/graph/authentication/TokenCredentialAuthProviderTest.java
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
  src/test/java/com/microsoft/graph/content/BatchResponseContentTest.java
  src/test/java/com/microsoft/graph/core/BaseClientTests.java
  src/test/java/com/microsoft/graph/core/ClientExceptionTests.java
  src/test/java/com/microsoft/graph/core/GraphServiceClientTest.java
  src/test/java/com/microsoft/graph/http/BaseCollectionPageTests.java
  src/test/java/com/microsoft/graph/http/BaseCollectionRequestTests.java
  src/test/java/com/microsoft/graph/http/BaseRequestBuilderTests.java
  src/test/java/com/microsoft/graph/http/BaseRequestTests.java
  src/test/java/com/microsoft/graph/http/BaseStreamRequestTests.java
  src/test/java/com/microsoft/graph/http/CoreHttpCallbackFutureWrapperTests.java
  src/test/java/com/microsoft/graph/http/CoreHttpProviderTests.java
  src/test/java/com/microsoft/graph/httpcore/AuthenticationHandlerTest.java
  src/test/java/com/microsoft/graph/httpcore/RetryHandlerTest.java
  src/test/java/com/microsoft/graph/httpcore/middlewareoption/RedirectOptionsTest.java
  src/test/java/com/microsoft/graph/httpcore/middlewareoption/RetryOptionsTest.java
  src/test/java/com/microsoft/graph/options/OptionTests.java
  src/test/java/com/microsoft/graph/serializer/ByteArraySerializerTests.java
  src/test/java/com/microsoft/graph/serializer/DateOnlyTests.java
  src/test/java/com/microsoft/graph/serializer/DurationTests.java
  src/test/java/com/microsoft/graph/serializer/EdmNativeTypeSerializerTests.java
  src/test/java/com/microsoft/graph/serializer/ISO8601Test.java
  src/test/java/com/microsoft/graph/serializer/OffsetDateTimeSerializerTests.java
  src/test/java/com/microsoft/graph/serializer/TimeOfDayTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

RollBack breaking changes
  src/main/java/com/microsoft/graph/http/IStatefulResponseHandler.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResponseHandler.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Apply suggestions from code review
  CHANGELOG.md
Due: .azure-pipelines/prValidate.yml

- fixes missing version bump for release
  gradle.properties
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

BaseGraphRequestAdapter
  src/main/java/com/microsoft/graph/Requests/BaseGraphRequestAdapter.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Kiota-Core IBaseClient & BaseClient
  src/main/java/com/microsoft/graph/Requests/BaseClient.java
  src/main/java/com/microsoft/graph/Requests/IBaseClient.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

adding GraphClientFactory
  src/main/java/com/microsoft/graph/Requests/GraphClientFactory.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- bumps the android api level to latest to avoid build failures
  android/build.gradle
Due: .azure-pipelines/prValidate.yml

BaseClient, BaseGraphRequestAdapter, GraphClientFactory updates
  src/main/java/com/microsoft/graph/Requests/BaseClient.java
  src/main/java/com/microsoft/graph/Requests/BaseGraphRequestAdapter.java
  src/main/java/com/microsoft/graph/Requests/GraphClientFactory.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update src/main/java/com/microsoft/graph/Requests/BaseGraphRequestAdapter.java
  src/main/java/com/microsoft/graph/Requests/BaseGraphRequestAdapter.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Add overloads to BaseGraphRequestAdapter Add overloads to BaseClient
  src/main/java/com/microsoft/graph/Requests/BaseClient.java
  src/main/java/com/microsoft/graph/Requests/BaseGraphRequestAdapter.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

method chaining
  src/main/java/com/microsoft/graph/Requests/BaseClient.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Use snapshot dependencies. Update target jdk to 17
  build.gradle
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

GraphClientFactory will not add CompressionHandler
  src/main/java/com/microsoft/graph/Requests/GraphClientFactory.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Finalized BaseClient and BaseGraphRequestAdapter constructors
  src/main/java/com/microsoft/graph/Requests/BaseClient.java
  src/main/java/com/microsoft/graph/Requests/BaseGraphRequestAdapter.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update BaseClient.java
  src/main/java/com/microsoft/graph/Requests/BaseClient.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

JavaDocs, adapter, factory, client constructor updates.
  build.gradle
  src/main/java/com/microsoft/graph/Requests/BaseClient.java
  src/main/java/com/microsoft/graph/Requests/BaseGraphRequestAdapter.java
  src/main/java/com/microsoft/graph/Requests/GraphClientFactory.java
  src/main/java/com/microsoft/graph/Requests/IBaseClient.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Add Interceptor only constructor
  src/main/java/com/microsoft/graph/Requests/GraphClientFactory.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update versions, Temp Folder, Comments,
  android/build.gradle
  android/gradle.properties
  gradle.properties
  needsRefactoring/BatchRequest.java
  needsRefactoring/BatchRequestBuilder.java
  needsRefactoring/BatchRequestContent.java
  needsRefactoring/BatchRequestStep.java
  needsRefactoring/BatchResponseContent.java
  needsRefactoring/BatchResponseStep.java
  needsRefactoring/BatchStep.java
  needsRefactoring/DeviceCodeFlowMain.java
  needsRefactoring/IProgressCallback.java
  needsRefactoring/IUploadSession.java
  needsRefactoring/InteractiveBrowserMain.java
  needsRefactoring/LargeFileUploadRequest.java
  needsRefactoring/LargeFileUploadResponse.java
  needsRefactoring/LargeFileUploadResponseHandler.java
  needsRefactoring/LargeFileUploadResult.java
  needsRefactoring/LargeFileUploadTask.java
  src/main/java/com/microsoft/graph/CoreConstants.java
  src/main/java/com/microsoft/graph/Requests/BaseClient.java
  src/main/java/com/microsoft/graph/Requests/BaseGraphRequestAdapter.java
  src/main/java/com/microsoft/graph/Requests/GraphClientFactory.java
  src/main/java/com/microsoft/graph/Requests/IBaseClient.java
  src/main/java/com/microsoft/graph/core/DateOnly.java
  src/main/java/com/microsoft/graph/core/GraphErrorCodes.java
  src/main/java/com/microsoft/graph/core/Multipart.java
  src/main/java/com/microsoft/graph/core/TimeOfDay.java
  src/main/java/com/microsoft/graph/httpcore/FeatureFlag.java
  src/main/java/com/microsoft/graph/httpcore/FeatureTracker.java
  src/main/java/com/microsoft/graph/httpcore/GraphTelemetryHandler.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/GraphClientOption.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/GraphClientOptions.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Add Tests, ClientFactory handler check, TrackFeatures, Option Tests
  needsRefactoring/DeviceCodeFlowMain.java
  needsRefactoring/InteractiveBrowserMain.java
  needsRefactoring/tests/BatchRequestContentTest.java
  needsRefactoring/tests/BatchRequestTestBody.java
  needsRefactoring/tests/BatchResponseContentTest.java
  src/main/java/com/microsoft/graph/Requests/BaseGraphRequestAdapter.java
  src/main/java/com/microsoft/graph/Requests/FeatureFlag.java
  src/main/java/com/microsoft/graph/Requests/FeatureTracker.java
  src/main/java/com/microsoft/graph/Requests/GraphClientFactory.java
  src/main/java/com/microsoft/graph/Requests/GraphClientOption.java
  src/main/java/com/microsoft/graph/Requests/Middleware/GraphTelemetryHandler.java
  src/test/java/com/microsoft/graph/Requests/FeatureTrackerTest.java
  src/test/java/com/microsoft/graph/Requests/Middleware/GraphTelemetryHandlerTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Apply suggestions from code review
  src/main/java/com/microsoft/graph/Requests/FeatureTracker.java
  src/main/java/com/microsoft/graph/Requests/GraphClientFactory.java
  src/main/java/com/microsoft/graph/Requests/GraphClientOption.java
  src/test/java/com/microsoft/graph/Requests/Middleware/GraphTelemetryHandlerTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

BaseClient is now default, FeatureTracker clear todo
  src/main/java/com/microsoft/graph/Requests/BaseClient.java
  src/main/java/com/microsoft/graph/Requests/FeatureTracker.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update YML to publish v3 preview branch
  .github/workflows/build-and-publish.yml
Due: .azure-pipelines/prValidate.yml

Path conditions:
  .azure-pipelines/buildAndPackage.yml: any of: src, but not: .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
  .azure-pipelines/prValidate.yml: any file but: .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
