Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:
  pool:
    vmImage: windows-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  - task: DownloadSecureFile@1
    inputs:
  ...

.azure-pipelines/prValidate.yml:
  pool:
    vmImage: windows-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  - task: Gradle@2
    inputs:
      gradleWrapperFile: gradlew
  ...

- upgrades ok http to latest
  gradle/dependencies.gradle
  pom.xml
Due: .azure-pipelines/prValidate.yml

- add a method on the client to execute batches - replaces older, native client dependent implementation by a new implementation for batches
  src/main/java/com/microsoft/graph/content/BatchRequest.java
  src/main/java/com/microsoft/graph/content/BatchRequestBuilder.java
  src/main/java/com/microsoft/graph/content/BatchRequestContent.java
  src/main/java/com/microsoft/graph/content/BatchRequestStep.java
  src/main/java/com/microsoft/graph/content/BatchResponseContent.java
  src/main/java/com/microsoft/graph/content/BatchResponseStep.java
  src/main/java/com/microsoft/graph/content/BatchStep.java
  src/main/java/com/microsoft/graph/content/MSBatchRequestContent.java
  src/main/java/com/microsoft/graph/content/MSBatchRequestStep.java
  src/main/java/com/microsoft/graph/content/MSBatchResponseContent.java
  src/main/java/com/microsoft/graph/core/BaseClient.java
  src/main/java/com/microsoft/graph/core/IBaseClient.java
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
  src/test/java/com/microsoft/graph/content/BatchResponseContentTest.java
  src/test/java/com/microsoft/graph/content/MSBatchRequestContentTest.java
  src/test/java/com/microsoft/graph/content/MSBatchRequestStepTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds missing javadoc comments for new batch infrastructure
  src/main/java/com/microsoft/graph/content/BatchRequestContent.java
  src/main/java/com/microsoft/graph/content/BatchRequestStep.java
  src/main/java/com/microsoft/graph/content/BatchResponseContent.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes access modifiers for batch request methods
  src/main/java/com/microsoft/graph/content/BatchRequest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds support for var ags dependon ids in batches
  src/main/java/com/microsoft/graph/content/BatchRequestContent.java
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where the batch requests would be missing the content type - fixes a bug where the batch request method would not be cased properly
  src/main/java/com/microsoft/graph/content/BatchRequestContent.java
  src/main/java/com/microsoft/graph/content/BatchRequestStep.java
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds additinoal unit tests cases for body header in batches
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where batch response bodies would not be deserialized properly
  src/main/java/com/microsoft/graph/content/BatchResponseContent.java
  src/main/java/com/microsoft/graph/content/BatchResponseStep.java
  src/main/java/com/microsoft/graph/http/GraphServiceException.java
  src/test/java/com/microsoft/graph/content/BatchResponseContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- improves api surface by removing the need to pass the serializer
  src/main/java/com/microsoft/graph/content/BatchRequest.java
  src/main/java/com/microsoft/graph/content/BatchResponseStep.java
  src/test/java/com/microsoft/graph/content/BatchResponseContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes linting issues
  src/main/java/com/microsoft/graph/content/BatchRequestContent.java
  src/main/java/com/microsoft/graph/content/BatchRequestStep.java
  src/main/java/com/microsoft/graph/content/BatchResponseContent.java
  src/main/java/com/microsoft/graph/content/BatchResponseStep.java
  src/main/java/com/microsoft/graph/content/BatchStep.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- improves header management for http response
  src/main/java/com/microsoft/graph/Util.java
  src/main/java/com/microsoft/graph/concurrency/ChunkedUploadResponseHandler.java
  src/main/java/com/microsoft/graph/core/Constants.java
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
  src/main/java/com/microsoft/graph/http/GraphServiceException.java
  src/main/java/com/microsoft/graph/http/HttpResponseHeadersHelper.java
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- moves the constants to a private place so nobody takes a dependency on it
  src/main/java/com/microsoft/graph/core/Constants.java
  src/main/java/com/microsoft/graph/http/BaseRequest.java
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- upgrades gradle to 6.8.1
  android/gradle/wrapper/gradle-wrapper.properties
  gradle/wrapper/gradle-wrapper.properties
Due: .azure-pipelines/prValidate.yml

- linting
  src/main/java/com/microsoft/graph/http/BaseDeltaCollectionRequest.java
  src/test/java/com/microsoft/graph/http/BaseRequestTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds missing javadoc comments
  src/main/java/com/microsoft/graph/core/BaseClient.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds missing nullability annotations
  src/main/java/com/microsoft/graph/core/BaseClient.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Apply suggestions from code review
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes an issue where the SDK would be expecting the wrong casing for the gaph error codes
  src/main/java/com/microsoft/graph/http/GraphError.java
  src/test/java/com/microsoft/graph/http/GraphErrorTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where the binrary stream would be disposed before clients can read it
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where chunk encoding would make the redirect handler fail
  src/main/java/com/microsoft/graph/httpcore/HttpClients.java
  src/main/java/com/microsoft/graph/httpcore/RedirectHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where the retry handler could fail on chunked encoding responses
  src/main/java/com/microsoft/graph/httpcore/RetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- patch version bump
  gradle.properties
  readme.md
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- removes bintray/jcenter from repo in preparation for sunset
  android/build.gradle
  android/gradle.properties
  build.gradle
  gradle.properties
  readme.md
Due: .azure-pipelines/prValidate.yml

- removes bintray in preparation for platform sunset
  build.gradle
  gradle.properties
  readme.md
Due: .azure-pipelines/prValidate.yml

- fixes generic type casing
  src/main/java/com/microsoft/graph/core/BaseClient.java
  src/main/java/com/microsoft/graph/core/IBaseClient.java
  src/main/java/com/microsoft/graph/http/BaseCollectionRequest.java
  src/main/java/com/microsoft/graph/http/BaseRequest.java
  src/main/java/com/microsoft/graph/http/BaseStreamRequest.java
  src/main/java/com/microsoft/graph/http/IHttpProvider.java
  src/main/java/com/microsoft/graph/http/IHttpRequest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds java 15 installation for perf and latest language features
  .azure-pipelines/buildAndPackage.yml
  .azure-pipelines/prValidate.yml
Due: none

- adds exception in reflection methods to facilitate detection of issues
  src/main/java/com/microsoft/graph/http/BaseCollectionRequest.java
  src/main/java/com/microsoft/graph/http/BaseCollectionRequestBuilder.java
  src/main/java/com/microsoft/graph/http/BaseCollectionWithReferencesRequestBuilder.java
  src/main/java/com/microsoft/graph/http/BaseReferenceRequestBuilder.java
  src/main/java/com/microsoft/graph/http/BaseWithReferenceRequestBuilder.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- avoid instantiating a builder when it's not needed
  src/main/java/com/microsoft/graph/http/BaseCollectionRequest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where the max retries would not be set for collection requests
  src/main/java/com/microsoft/graph/http/BaseCollectionRequest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- moves pipeline steps in templates
  .azure-pipelines/buildAndPackage.yml
  .azure-pipelines/prValidate.yml
  .azure-pipelines/templates/alert-failure.yml
  .azure-pipelines/templates/build-and-coverage.yml
  .azure-pipelines/templates/checkout-and-credscan.yml
  .azure-pipelines/templates/install-java.yml
  .azure-pipelines/templates/publish-artefacts.yml
  .azure-pipelines/templates/secure-files.yml
Due: none

- upgades dependencies
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

- replaces deprecated method usage
  src/main/java/com/microsoft/graph/httpcore/ChaosHttpHandler.java
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
  src/test/java/com/microsoft/graph/http/BaseRequestTests.java
  src/test/java/com/microsoft/graph/http/BaseStreamRequestTests.java
  src/test/java/com/microsoft/graph/httpcore/RedirectHandlerTest.java
  src/test/java/com/microsoft/graph/httpcore/RetryHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds spotbugs base configuration
  build.gradle
Due: .azure-pipelines/prValidate.yml

- fixes static analysis errors as example
  src/main/java/com/microsoft/graph/serializer/CollectionResponseSerializer.java
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds sonarcloud configuration
  .github/workflows/sonarcloud.yml
  build.gradle
Due: .azure-pipelines/prValidate.yml

- adds java 15 install to fix codeql build
  .github/workflows/codeql-analysis.yml
Due: .azure-pipelines/prValidate.yml

- fixes a bug where next page would always be null because of deserialization regression
  src/main/java/com/microsoft/graph/http/BaseCollectionRequest.java
  src/main/java/com/microsoft/graph/serializer/CollectionResponseSerializer.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Path conditions:
  .azure-pipelines/buildAndPackage.yml: any of: src, but not: .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, build.gradle, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
  .azure-pipelines/prValidate.yml: any file but: .azure-pipelines, .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
