Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:

trigger:
  branches:
    include:
      - dev
      - main
      - master
  paths:
    include:
      - src/*
    exclude:
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - build.gradle
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle

pr: none

pool:
  vmImage: 'windows-latest'

steps:
- checkout: self
  clean: true
  fetchDepth: 1

- task: DownloadSecureFile@1
  inputs:
    secureFile: 'local.properties'

- task: DownloadSecureFile@1
  inputs:
    secureFile: 'secring.gpg'

- task: DownloadSecureFile@1
  inputs:
    secureFile: 'secring.gpg.lock'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Agent.TempDirectory)'
    Contents: '**'
    TargetFolder: '$(System.DefaultWorkingDirectory)'

- task: Gradle@2
  inputs:
    gradleWrapperFile: 'gradlew'
    tasks: 'build'
    publishJUnitResults: true
    testResultsFiles: '**/TEST-*.xml'
    javaHomeOption: 'JDKVersion'
    sonarQubeRunAnalysis: false

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)'
    Contents: |
      **/libs/*
      build.gradle
      gradlew
      gradlew.bat
      settings.gradle
      gradle.properties
      **/gradle/wrapper/*
    TargetFolder: '$(Build.ArtifactStagingDirectory)/'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

- task: YodLabs.O365PostMessage.O365PostMessageBuild.O365PostMessageBuild@0
  displayName: 'Graph Client Tooling pipeline fail notification'
  inputs:
    addressType: serviceEndpoint
    serviceEndpointName: 'microsoftgraph pipeline status'
    title: '$(Build.DefinitionName) failure notification'
    text: 'This pipeline has failed. View the build details for further information. This is a blocking failure.'
  condition: and(failed(), ne(variables['Build.Reason'], 'Manual'))
  enabled: true

.azure-pipelines/prValidate.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml


pr: 
  branches:
    include:
      -master
      -main
      -dev
  paths:
    exclude:
      - .azure-pipelines
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle

trigger: none # disable triggers based on commits.

variables:
  PACKAGE_NAME: 'microsoft.graph.core'
  PROJECT_PATH: '.\src\Microsoft.Graph.Core\Microsoft.Graph.Core.csproj'

pool: 
  vmImage: windows-latest

steps:
- checkout: self
  clean: true
  fetchDepth: 1

- task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  displayName: 'Run CredScan'
  inputs:
    debugMode: false

- task: PowerShell@2
  condition: $(Build.SourceBranchName) != dev
  inputs:
    filePath: '$(System.DefaultWorkingDirectory)/Scripts/validateMavenVersion.ps1'
    pwsh: true


- task: Gradle@2
  inputs:
    gradleWrapperFile: 'gradlew'
    tasks: 'build'
    publishJUnitResults: true
    testResultsFiles: '**/TEST-*.xml'
    javaHomeOption: 'JDKVersion'
    sonarQubeRunAnalysis: false


- task: YodLabs.O365PostMessage.O365PostMessageBuild.O365PostMessageBuild@0
  displayName: 'Graph Client Tooling pipeline fail notification'
  inputs:
    addressType: serviceEndpoint
    serviceEndpointName: 'microsoftgraph pipeline status'
    title: '$(Build.DefinitionName) failure notification'
    text: 'This pipeline has failed. View the build details for further information. This is a blocking failure. '
  condition: failed()
  enabled: true

Update buildAndPackage.yml for Azure Pipelines
  .azure-pipelines/buildAndPackage.yml
Due: none

Update prValidate.yml for Azure Pipelines
  .azure-pipelines/prValidate.yml
Due: none

updating script file to include a condition where the package does not yet exist in the repositories
  Scripts/validateMavenVersion.ps1
Due: .azure-pipelines/prValidate.yml

Update validateMavenVersion.ps1
  Scripts/validateMavenVersion.ps1
Due: .azure-pipelines/prValidate.yml

Update buildAndPackage.yml
  .azure-pipelines/buildAndPackage.yml
Due: none

update script and rename folder from Scripts to scripts
  Scripts/validateMavenVersion.ps1
Due: .azure-pipelines/prValidate.yml

add getLatestVersion script
  Scripts/getLatestVersion.ps1
Due: .azure-pipelines/prValidate.yml

update the scripts
  Scripts/getLatestVersion.ps1
  Scripts/validateMavenVersion.ps1
Due: .azure-pipelines/prValidate.yml

Update prValidate.yml
  .azure-pipelines/prValidate.yml
Due: none

fixing small typo causing script to break
  Scripts/getLatestVersion.ps1
Due: .azure-pipelines/prValidate.yml

Update getLatestVersion.ps1
  Scripts/getLatestVersion.ps1
Due: .azure-pipelines/prValidate.yml

adding files need to update auth
  Scripts/getLatestVersion.ps1
  Scripts/validateMavenVersion.ps1
  build.gradle
  src/main/java/com/microsoft/graph/authentication/AuthConstants.java
  src/main/java/com/microsoft/graph/authentication/IAuthenticationProvider.java
  src/main/java/com/microsoft/graph/authentication/TokenCredntialAuthProvider.java
  src/main/java/com/microsoft/graph/httpcore/HttpMethod.java
  src/main/java/com/microsoft/graph/httpcore/IHttpRequest.java
  src/main/java/com/microsoft/graph/options/HeaderOption.java
  src/main/java/com/microsoft/graph/options/Option.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

basic logic for the authentication, saving before begining to move files
  src/main/java/com/microsoft/graph/authentication/IAuthenticationProvider.java
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
  src/main/java/com/microsoft/graph/authentication/TokenCredntialAuthProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

move ICoreAuthenticationProvide class location, refactored class dependencies
  src/main/java/com/microsoft/graph/authentication/ICoreAuthenticationProvider.java
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
  src/main/java/com/microsoft/graph/httpcore/AuthenticationHandler.java
  src/main/java/com/microsoft/graph/httpcore/HttpClients.java
  src/test/java/com/microsoft/graph/httpcore/AuthenticationHandlerTest.java
  src/test/java/com/microsoft/graph/httpcore/HttpClientsTest.java
  src/test/java/com/microsoft/graph/httpcore/TelemetryHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

updaed tokenCredAuthProvider
  build.gradle
  src/main/java/com/microsoft/graph/authentication/IAuthenticationProvider.java
  src/main/java/com/microsoft/graph/authentication/ICoreAuthenticationProvider.java
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
  src/main/java/com/microsoft/graph/exceptions/AuthenticationException.java
  src/main/java/com/microsoft/graph/exceptions/Error.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Error Class update
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
  src/main/java/com/microsoft/graph/exceptions/Error.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

error constants and thrown error update
  build.gradle
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
  src/main/java/com/microsoft/graph/exceptions/AuthenticationException.java
  src/main/java/com/microsoft/graph/exceptions/Error.java
  src/main/java/com/microsoft/graph/exceptions/ErrorConstants.java
  src/test/java/com/microsoft/graph/authentication/TokenCredentialAuthProviderTest.java
  src/test/java/com/microsoft/graph/mocks/MockTokenCredential.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

deleted lines
  src/main/java/com/microsoft/graph/exceptions/ErrorConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

first unit test
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
  src/test/java/com/microsoft/graph/authentication/TokenCredentialAuthProviderTest.java
  src/test/java/com/microsoft/graph/mocks/MockTokenCredential.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Java docs and testing updated
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
  src/main/java/com/microsoft/graph/exceptions/AuthenticationException.java
  src/main/java/com/microsoft/graph/exceptions/Error.java
  src/main/java/com/microsoft/graph/exceptions/ErrorConstants.java
  src/test/java/com/microsoft/graph/authentication/TokenCredentialAuthProviderTest.java
  src/test/java/com/microsoft/graph/mocks/MockIHttpRequest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Passed tests and javadocs are complete
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
  src/main/java/com/microsoft/graph/exceptions/AuthenticationException.java
  src/main/java/com/microsoft/graph/exceptions/Error.java
  src/test/java/com/microsoft/graph/authentication/TokenCredentialAuthProviderTest.java
  src/test/java/com/microsoft/graph/mocks/MockTokenCredential.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update TokenCredentialAuthProvider.java
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

deleted unused import statements
  src/main/java/com/microsoft/graph/authentication/IAuthenticationProvider.java
  src/main/java/com/microsoft/graph/authentication/ICoreAuthenticationProvider.java
  src/main/java/com/microsoft/graph/exceptions/AuthenticationException.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

scoped down accessToken variable
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

renaming
  scripts/getLatestVersion.ps1
  scripts/validateMavenVersion.ps1
Due: .azure-pipelines/prValidate.yml

move sourcejar in build.gradle
  build.gradle
Due: .azure-pipelines/prValidate.yml

move signing task
  build.gradle
Due: .azure-pipelines/prValidate.yml
