Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:

#Copyright (c) Microsoft Corporation. All rights reserved.
#Licensed under the MIT License.
#Building and packaging the artifacts of the Java-Core libraries using the build.gradle file.
#Ready the package for deployment and release. 

trigger:
  branches:
    include:
      - dev
      - main
      - master
  paths:
    include:
      - src/*
    exclude:
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle
      - Scripts/*

pr: 
- dev
- master

pool:
  vmImage: windows-latest

variables: 
  DROP_PATH: '$(Agent.BuildDirectory)/Drop'

stages:
- stage: Build
  jobs:
  - job: Build
    steps:
    - template: templates/build/checkout-and-credscan.yml
    - template: templates/install-java.yml
    - template: templates/secure-files.yml
      parameters:
        stageID: 'build'
    - template: templates/build/build-and-coverage.yml
    - template: templates/build/publish-artefacts.yml

- stage: Maven_Preview
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/dev'))
  jobs: 
  - deployment: Maven_Preview
    environment: 'MSGraph SDK Development - Java'
    pool:
      vmImage: windows-latest
    strategy:
     runOnce:
      deploy:
        steps:
        - template: templates/download-artifacts.yml
          parameters:
            directoryPath: $(DROP_PATH)
        - template: templates/install-java.yml
        - template: templates/secure-files.yml
        - template: templates/copy-and-build.yml
          parameters:
            task: 'publishSnapshotPublicationToSonatypeSnapshotRepository'
            directoryPath: $(DROP_PATH)

- stage: Maven_Release_And_Github_Release
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  jobs:
  - deployment: Maven_Release
    environment: 'MSGraph SDK Development - Java'
    pool:
      vmImage: windows-latest
    strategy:
     runOnce:
      deploy:
        steps:
        - template: templates/download-artifacts.yml
          parameters:
            directoryPath: $(DROP_PATH)
        - template: templates/install-java.yml
        - template: templates/secure-files.yml
          parameters:
            stageID: 'release'
        - template: templates/copy-and-build.yml
          parameters:
            task: 'publishMavenCentralReleasePublicationToSonatypeRepository'
            directoryPath: $(DROP_PATH)

  - deployment: Github_Release
    dependsOn: Maven_Release
    environment: 'MSGraph SDK Development - Java'
    pool:
      vmImage: windows-latest
    strategy: 
     runOnce:
      deploy:
        steps: 
        - template: templates/download-artifacts.yml
          parameters:
            directoryPath: $(DROP_PATH)
        - template: templates/version-and-release.yml
          parameters:
            gitConnection: 'microsoftgraphrelease'
            directoryPath: $(DROP_PATH)

.azure-pipelines/prValidate.yml:

#Copyright (c) Microsoft Corporation. All rights reserved.
#Licensed under the MIT License.
#Build and test Java Core to make sure a valid pull request is being made
#Validate that the versions dont conflict with those online in case a pull request is made to main or master

pr: 
  branches:
    include:
      - dev
      - main
      - master
  paths:
    exclude:
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle
      - Scripts/*

trigger: none # disable triggers based on commits.

pool:
  vmImage: windows-latest

steps:
- template: templates/build/checkout-and-credscan.yml
- template: templates/build/install-java.yml
- template: templates/build/build-and-coverage.yml
- template: templates/alert-failure.yml

Pwshl script to decode value and write to file
  scripts/decodeAndWrite.ps1
Due: .azure-pipelines/prValidate.yml

Update gradle-build.yml
  .github/workflows/gradle-build.yml
Due: .azure-pipelines/prValidate.yml

Update decodeAndWrite.ps1
  scripts/decodeAndWrite.ps1
Due: .azure-pipelines/prValidate.yml

Update gradle-build.yml
  gradle.properties
Due: none

Update gradle-build.yml
  .github/workflows/gradle-build.yml
  gradle.properties
Due: .azure-pipelines/prValidate.yml

Try Different Credscan
  .github/workflows/gradle-build.yml
Due: .azure-pipelines/prValidate.yml

Add commitback for baseline file
  .github/workflows/gradle-build.yml
Due: .azure-pipelines/prValidate.yml

#309
  src/main/java/com/microsoft/graph/httpcore/AuthenticationHandler.java
  src/main/java/com/microsoft/graph/httpcore/RetryHandler.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

#300
  src/main/java/com/microsoft/graph/serializer/DerivedClassIdentifier.java
  src/test/java/com/microsoft/graph/serializer/DerivedClassIdentifierTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

performance improvement
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
  src/main/java/com/microsoft/graph/core/Multipart.java
  src/main/java/com/microsoft/graph/http/BaseRequest.java
  src/main/java/com/microsoft/graph/httpcore/HttpClients.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

fix string compare with = not equals
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

java 8 code migration style
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
  src/main/java/com/microsoft/graph/content/BatchRequestContent.java
  src/main/java/com/microsoft/graph/core/CustomRequestBuilder.java
  src/main/java/com/microsoft/graph/core/IBaseClient.java
  src/main/java/com/microsoft/graph/core/Multipart.java
  src/main/java/com/microsoft/graph/http/BaseActionCollectionRequest.java
  src/main/java/com/microsoft/graph/http/BaseCollectionPage.java
  src/main/java/com/microsoft/graph/http/BaseEntityCollectionRequest.java
  src/main/java/com/microsoft/graph/http/BaseFunctionCollectionRequest.java
  src/main/java/com/microsoft/graph/http/BaseRequest.java
  src/main/java/com/microsoft/graph/http/CustomRequest.java
  src/main/java/com/microsoft/graph/http/GraphInnerError.java
  src/main/java/com/microsoft/graph/httpcore/ChaosHttpHandler.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/RedirectOptions.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/RetryOptions.java
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/main/java/com/microsoft/graph/serializer/EdmNativeTypeSerializer.java
  src/main/java/com/microsoft/graph/serializer/GsonFactory.java
  src/main/java/com/microsoft/graph/serializer/OffsetDateTimeSerializer.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadRequest.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Apply suggestions from code review
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

add baselie file
  .secrets.baseline
Due: .azure-pipelines/prValidate.yml

- fixes file encoding
  .secrets.baseline
Due: .azure-pipelines/prValidate.yml

verify secrets
  .secrets.baseline
Due: .azure-pipelines/prValidate.yml

Try Credscan via Script
  .github/workflows/gradle-build.yml
Due: .azure-pipelines/prValidate.yml

baseline file with excluded files
  .secrets.baseline
Due: .azure-pipelines/prValidate.yml

Fix encoding
  .secrets.baseline
Due: .azure-pipelines/prValidate.yml

Tool Test
  .github/workflows/gradle-build.yml
Due: .azure-pipelines/prValidate.yml

FIX ENCODING
  .secrets.baseline
Due: .azure-pipelines/prValidate.yml
