Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:

trigger:
  branches:
    include:
      - dev
      - main
      - master
  paths:
    include:
      - src/*
    exclude:
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - build.gradle
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle

pr: none

pool:
  vmImage: 'windows-latest'

steps:
- checkout: self
  clean: true
  fetchDepth: 1

- task: DownloadSecureFile@1
  inputs:
    secureFile: 'local.properties'

- task: DownloadSecureFile@1
  inputs:
    secureFile: 'secring.gpg'

- task: DownloadSecureFile@1
  inputs:
    secureFile: 'secring.gpg.lock'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Agent.TempDirectory)'
    Contents: '**'
    TargetFolder: '$(System.DefaultWorkingDirectory)'

- task: Gradle@2
  inputs:
    gradleWrapperFile: 'gradlew'
    tasks: 'build'
    publishJUnitResults: true
    testResultsFiles: '**/TEST-*.xml'
    javaHomeOption: 'JDKVersion'
    sonarQubeRunAnalysis: false

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)'
    Contents: |
      **/libs/*
      build.gradle
      gradlew
      gradlew.bat
      settings.gradle
      gradle.properties
      **/gradle/wrapper/*
    TargetFolder: '$(Build.ArtifactStagingDirectory)/'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

- task: YodLabs.O365PostMessage.O365PostMessageBuild.O365PostMessageBuild@0
  displayName: 'Graph Client Tooling pipeline fail notification'
  inputs:
    addressType: serviceEndpoint
    serviceEndpointName: 'microsoftgraph pipeline status'
    title: '$(Build.DefinitionName) failure notification'
    text: 'This pipeline has failed. View the build details for further information. This is a blocking failure.'
  condition: and(failed(), ne(variables['Build.Reason'], 'Manual'))
  enabled: true

.azure-pipelines/prValidate.yml:

# Build and test Java Core to make sure a valid pull request is being made 
pr: 
  branches:
    include:
      - master
      - main
      - dev
  paths:
    exclude:
      - .azure-pipelines
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle

trigger: none # disable triggers based on commits.

variables:
  PACKAGE_NAME: 'microsoft-graph-core'
  PROPERTIES_PATH: '.\gradle.properties'

pool: 
  vmImage: windows-latest

steps:
- checkout: self
  clean: true
  fetchDepth: 1

- task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  displayName: 'Run CredScan'
  inputs:
    debugMode: false

- task: PowerShell@2
  condition: and(failed(), eq(variables['Build.SourceBranchName'], 'dev'))
  inputs:
    filePath: '$(System.DefaultWorkingDirectory)\Scripts\validateMavenVersion.ps1'
    pwsh: true
    arguments: '-packageName "$(PACKAGE_NAME)" -propertiesPath "$(PROPERTIES_PATH)"'

- task: Gradle@2
  inputs:
    gradleWrapperFile: 'gradlew'
    tasks: 'build'
    publishJUnitResults: true
    testResultsFiles: '**/TEST-*.xml'
    javaHomeOption: 'JDKVersion'
    sonarQubeRunAnalysis: false


- task: YodLabs.O365PostMessage.O365PostMessageBuild.O365PostMessageBuild@0
  displayName: 'Graph Client Tooling pipeline fail notification'
  inputs:
    addressType: serviceEndpoint
    serviceEndpointName: 'microsoftgraph pipeline status'
    title: '$(Build.DefinitionName) failure notification'
    text: 'This pipeline has failed. View the build details for further information. This is a blocking failure. '
  condition: and(failed(), ne(variables['Build.Reason'], 'Manual'))
  enabled: true

add sample project
  samples/deviceCodeSample/build.gradle
  samples/deviceCodeSample/gradle/wrapper/gradle-wrapper.properties
  samples/deviceCodeSample/settings.gradle
  samples/deviceCodeSample/src/main/java/deviceCodeFlowMain.java
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

update getAccessToken to wait until auth is done
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

remove dependency
  samples/deviceCodeSample/build.gradle
Due: .azure-pipelines/prValidate.yml

removed uneccessary import statement
  samples/deviceCodeSample/src/main/java/deviceCodeFlowMain.java
Due: .azure-pipelines/prValidate.yml

interactive browser on console
  samples/interactiveBrowserSample/build.gradle
  samples/interactiveBrowserSample/settings.gradle
  samples/interactiveBrowserSample/src/main/java/interactiveBrowserSample.java
Due: .azure-pipelines/prValidate.yml

interactive browser auth
  samples/interactiveBrowserSample/build.gradle
  samples/interactiveBrowserSample/src/main/java/interactiveBrowserSample.java
Due: .azure-pipelines/prValidate.yml

pasrsed through the response, removed metadata tag
  samples/interactiveBrowserSample/src/main/java/interactiveBrowserSample.java
Due: .azure-pipelines/prValidate.yml

Update TokenCredentialAuthProvider.java
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

update device code flow sample to mirror interactive browser sample
  samples/deviceCodeSample/src/main/java/deviceCodeFlowMain.java
  samples/interactiveBrowserSample/src/main/java/interactiveBrowserMain.java
Due: .azure-pipelines/prValidate.yml

- adds dependencies auto-update workflow
  .github/dependabot.yml
Due: .azure-pipelines/prValidate.yml

- adds conflicting PR workflow
  .github/workflows/conflicting-pr-label.yml
Due: .azure-pipelines/prValidate.yml

- adds codeql analysis workflow
  .github/workflows/codeql-analysis.yml
Due: .azure-pipelines/prValidate.yml

- adds issue template
  .github/ISSUE_TEMPLATE.md
Due: .azure-pipelines/prValidate.yml

- adds pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: .azure-pipelines/prValidate.yml

- closes #49 removes a unused dependency
  build.gradle
Due: .azure-pipelines/prValidate.yml

- bumps version to 1.0.2
  gradle.properties
  readme.md
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes reference to ok http after upgrade
  src/test/java/com/microsoft/graph/httpcore/AuthenticationHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes an issue where maven version would not be compared
  Scripts/validateMavenVersion.ps1
Due: .azure-pipelines/prValidate.yml

- removes unused dependency
  build.gradle
Due: .azure-pipelines/prValidate.yml

- upgrades gradle from 4.5 to 6.6
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle
Due: .azure-pipelines/prValidate.yml

Apply suggestions from code review
  Scripts/validateMavenVersion.ps1
Due: .azure-pipelines/prValidate.yml

- names repostories and moves urls to build file for clarity
  build.gradle
  gradle.properties
Due: .azure-pipelines/prValidate.yml

- adds missing bintray repo
  build.gradle
Due: .azure-pipelines/prValidate.yml

- replaces hardcoded constants by settings loading
  build.gradle
Due: .azure-pipelines/prValidate.yml

- fixes a bug where parameters docs would fail the script
  Scripts/getLatestVersion.ps1
Due: .azure-pipelines/prValidate.yml

- bumps java version in the readme and lints readme
  readme.md
Due: none

- reverts upgrade to java8 to avoid introducing a breaking change
  build.gradle
  readme.md
Due: .azure-pipelines/prValidate.yml

Revert "- reverts upgrade to java8 to avoid introducing a breaking change"
  build.gradle
  readme.md
Due: .azure-pipelines/prValidate.yml

- fixes repo URL for bintray
  build.gradle
Due: .azure-pipelines/prValidate.yml

- adds custom task for bintray as documented
  build.gradle
Due: .azure-pipelines/prValidate.yml

- swtiches task to enable sigin
  build.gradle
Due: .azure-pipelines/prValidate.yml

- removes outdated contributors list
  readme.md
Due: none

- fixes signatures publishing following upgrade
  build.gradle
Due: .azure-pipelines/prValidate.yml

- adds missing collection for release pipeline
  .azure-pipelines/buildAndPackage.yml
Due: none

- adds vs code configuration file
  .vscode/settings.json
Due: .azure-pipelines/prValidate.yml

- replaces simple json by gson
  build.gradle
  src/main/java/com/microsoft/graph/content/MSBatchRequestContent.java
  src/main/java/com/microsoft/graph/content/MSBatchResponseContent.java
  src/test/java/com/microsoft/graph/content/MSBatchRequestContentTest.java
  src/test/java/com/microsoft/graph/content/MSBatchResponseContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- bumps version number
  gradle.properties
  readme.md
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds a method to add batch steps from http requests
  src/main/java/com/microsoft/graph/content/MSBatchRequestContent.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- revamps method to return step id
  src/main/java/com/microsoft/graph/content/MSBatchRequestContent.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds defensive programming for json parsing
  src/main/java/com/microsoft/graph/content/MSBatchRequestContent.java
  src/main/java/com/microsoft/graph/content/MSBatchResponseContent.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml
