Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - template: templates/build/checkout-and-credscan.yml
      - template: templates/install-java.yml
      - template: templates/secure-files.yml
        parameters:
          stageID: build
  ...

.azure-pipelines/prValidate.yml:
  pool:
    vmImage: windows-latest
  steps:
  - template: templates/build/checkout-and-credscan.yml
  - template: templates/build/install-java.yml
  - template: templates/build/build-and-coverage.yml
  - template: templates/alert-failure.yml

fix: deadlock for batch request content once it passes a certain size
  src/main/java/com/microsoft/graph/core/content/BatchRequestContent.java
  src/test/java/com/microsoft/graph/core/requests/BatchRequestBuilderTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

chore: upgrades gradle wrapper
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: .azure-pipelines/prValidate.yml

Update secrets-scanning baseline
  .secrets.baseline
  android/gradle.properties
  gradle.properties
  src/test/java/com/microsoft/graph/core/content/BatchResponseContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update workflow to fail on new secrets
  .github/workflows/gradle-build.yml
Due: .azure-pipelines/prValidate.yml

Add gradle-nexus publishing plugin and config
  build.gradle
Due: .azure-pipelines/prValidate.yml

Update release workflows
  .github/workflows/build-and-publish.yml
  .gitignore
  scripts/validatePackageContents.ps1
Due: .azure-pipelines/prValidate.yml

ci: adds junit groups de reduce the number of pull requests
  .github/dependabot.yml
Due: .azure-pipelines/prValidate.yml

Add test secrets to be detected
  .github/workflows/build-and-publish.yml
  gradle.properties
Due: .azure-pipelines/prValidate.yml

Remove secret
  .github/workflows/build-and-publish.yml
  gradle.properties
Due: .azure-pipelines/prValidate.yml

Return secret
  gradle.properties
Due: none

fix: Retain insertion order of batch request steps
  src/main/java/com/microsoft/graph/core/content/BatchRequestContent.java
  src/test/java/com/microsoft/graph/core/content/BatchRequestContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

fix: release please bootstrap configuration
  release-please-config.json
Due: .azure-pipelines/prValidate.yml

feat: Adds kiota authentication dependency into compilation classpath
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

Updated Java version to 21 in workflows and mockito from inline to core
  .github/workflows/api-level-lint.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-build.yml
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

Updated version in sonar cloud
  .github/workflows/sonarcloud.yml
Due: .azure-pipelines/prValidate.yml

Enable errorMapping with "4XX" and "5XX" pattern
  src/main/java/com/microsoft/graph/core/requests/ResponseBodyHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

fix: missing parenthesis
  src/main/java/com/microsoft/graph/core/requests/ResponseBodyHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

fix: errorMapping in ResponseCodes with "4XX" and "5XX" Pattern (#1735)
  src/main/java/com/microsoft/graph/core/requests/ResponseBodyHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

docs: adds missing security md
  SECURITY.md
Due: .azure-pipelines/prValidate.yml

chore: bump Kiota dependencies
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

Add tests
  src/test/java/com/microsoft/graph/core/requests/GraphClientFactoryTest.java
  src/test/java/com/microsoft/graph/core/requests/MockResponseHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

feat: support authorization handler in middleware pipeline
  src/main/java/com/microsoft/graph/core/requests/GraphClientFactory.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

chore: Update Graph client initialization samples in README
  README.md
Due: .azure-pipelines/prValidate.yml

Fix linting + tests
  src/main/java/com/microsoft/graph/core/requests/GraphClientFactory.java
  src/test/java/com/microsoft/graph/core/requests/GraphClientFactoryTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update src/main/java/com/microsoft/graph/core/requests/GraphClientFactory.java
  src/main/java/com/microsoft/graph/core/requests/GraphClientFactory.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

fix issue where user specified interceptors where being overridden by default interceptors
  src/main/java/com/microsoft/graph/core/requests/GraphClientFactory.java
  src/test/java/com/microsoft/graph/core/requests/middleware/GraphTelemetryHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update Android gradle build tools
  android/build.gradle
Due: .azure-pipelines/prValidate.yml

fix: release new version with updated kiota dependencies
  README.md
Due: .azure-pipelines/prValidate.yml

Improve SonarCloud reliability
  src/main/java/com/microsoft/graph/core/requests/GraphClientFactory.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Refactor + add tests
  src/main/java/com/microsoft/graph/core/requests/GraphClientFactory.java
  src/test/java/com/microsoft/graph/core/requests/GraphClientFactoryTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

fix build issues
  spotBugsExcludeFilter.xml
  src/main/java/com/microsoft/graph/core/requests/GraphClientFactory.java
  src/test/java/com/microsoft/graph/core/requests/GraphClientFactoryTest.java
  src/test/java/com/microsoft/graph/core/requests/middleware/GraphTelemetryHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

feat: Support overriding default interceptors via request options
  src/main/java/com/microsoft/graph/core/requests/GraphClientFactory.java
  src/test/java/com/microsoft/graph/core/requests/GraphClientFactoryTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

disable android-to-kotlin portability warning
  android/build.gradle
Due: .azure-pipelines/prValidate.yml

Use final method parameter references
  src/main/java/com/microsoft/graph/core/requests/GraphClientFactory.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

fix: issue where custom interceptors would fail to override default interceptors
  src/main/java/com/microsoft/graph/core/requests/GraphClientFactory.java
  src/test/java/com/microsoft/graph/core/requests/GraphClientFactoryTest.java
  src/test/java/com/microsoft/graph/core/requests/middleware/GraphTelemetryHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

feat: add GraphClientFactory method using TokenCredential
  src/main/java/com/microsoft/graph/core/requests/GraphClientFactory.java
  src/test/java/com/microsoft/graph/core/requests/GraphClientFactoryTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Add android lint baseline file and config
  android/build.gradle
  android/lint-baseline.xml
  android/lint.xml
Due: .azure-pipelines/prValidate.yml

Path conditions:
  .azure-pipelines/buildAndPackage.yml: any of: src, but not: .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
  .azure-pipelines/prValidate.yml: any file but: .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
