Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - template: templates/build/checkout-and-credscan.yml
      - template: templates/install-java.yml
      - template: templates/secure-files.yml
        parameters:
          stageID: build
  ...

.azure-pipelines/prValidate.yml:
  pool:
    vmImage: windows-latest
  steps:
  - template: templates/build/checkout-and-credscan.yml
  - template: templates/build/install-java.yml
  - template: templates/build/build-and-coverage.yml
  - template: templates/alert-failure.yml

- updates gradle definitions
  build.gradle
Due: .azure-pipelines/prValidate.yml

- moves from java 18 to java 20
  .github/workflows/api-level-lint.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-build.yml
  .github/workflows/sample-build-check.yml
  .github/workflows/sonarcloud.yml
Due: .azure-pipelines/prValidate.yml

- aligns policy with workflow definition change
  .github/policies/msgraph-sdk-java-core-branch-protection.yml
Due: .azure-pipelines/prValidate.yml

- moves to termurin distribution
  .github/workflows/api-level-lint.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-build.yml
  .github/workflows/sample-build-check.yml
  .github/workflows/sonarcloud.yml
Due: .azure-pipelines/prValidate.yml

- upgrades gradle wrapper for samples
  samples/deviceCodeSample/gradle/wrapper/gradle-wrapper.jar
  samples/deviceCodeSample/gradle/wrapper/gradle-wrapper.properties
  samples/deviceCodeSample/gradlew
  samples/deviceCodeSample/gradlew.bat
  samples/interactiveBrowserSample/gradle/wrapper/gradle-wrapper.jar
  samples/interactiveBrowserSample/gradle/wrapper/gradle-wrapper.properties
  samples/interactiveBrowserSample/gradlew
  samples/interactiveBrowserSample/gradlew.bat
Due: .azure-pipelines/prValidate.yml

tooling update
  build.gradle
Due: .azure-pipelines/prValidate.yml

sonar smells
  src/main/java/com/microsoft/graph/models/UploadSession.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

page iterator
  src/main/java/com/microsoft/graph/CoreConstants.java
  src/main/java/com/microsoft/graph/tasks/PageIterator.java
  src/main/java/com/microsoft/graph/tasks/PageIteratorBuilder.java
  src/test/java/com/microsoft/graph/tasks/PageIteratorTest.java
  src/test/java/com/microsoft/graph/testModels/TestEvent.java
  src/test/java/com/microsoft/graph/testModels/TestEventItem.java
  src/test/java/com/microsoft/graph/testModels/TestEventsResponse.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

java level 8 for tests
  build.gradle
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
  src/test/java/com/microsoft/graph/requests/BatchRequestBuilderTest.java
  src/test/java/com/microsoft/graph/tasks/LargeFileUploadTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

java level 8 for tests
  src/main/java/com/microsoft/graph/tasks/PageIterator.java
  src/test/java/com/microsoft/graph/tasks/PageIteratorTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

page iterator tests are complete
  src/main/java/com/microsoft/graph/tasks/PageIterator.java
  src/test/java/com/microsoft/graph/tasks/LargeFileUploadTest.java
  src/test/java/com/microsoft/graph/tasks/PageIteratorTest.java
  src/test/java/com/microsoft/graph/testModels/TestEventsDeltaResponse.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

spotbugs
  src/main/java/com/microsoft/graph/tasks/PageIterator.java
  src/test/java/com/microsoft/graph/tasks/PageIteratorTest.java
  src/test/java/com/microsoft/graph/testModels/TestEventItem.java
  src/test/java/com/microsoft/graph/testModels/TestEventsDeltaResponse.java
  src/test/java/com/microsoft/graph/testModels/TestEventsResponse.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

comments
  src/main/java/com/microsoft/graph/CoreConstants.java
  src/main/java/com/microsoft/graph/tasks/PageIterator.java
  src/main/java/com/microsoft/graph/tasks/PageIteratorBuilder.java
  src/test/java/com/microsoft/graph/tasks/PageIteratorTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

annotations android
  src/main/java/com/microsoft/graph/tasks/PageIterator.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

smells
  src/main/java/com/microsoft/graph/tasks/PageIterator.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update gradle.properties
  gradle.properties
Due: none

code review Use googles nullOrEmpty for string checks.
  src/main/java/com/microsoft/graph/content/BatchRequestContent.java
  src/main/java/com/microsoft/graph/exceptions/ServiceException.java
  src/main/java/com/microsoft/graph/models/BatchRequestStep.java
  src/main/java/com/microsoft/graph/models/UploadSession.java
  src/main/java/com/microsoft/graph/requests/BaseGraphRequestAdapter.java
  src/main/java/com/microsoft/graph/requests/GraphClientOption.java
  src/main/java/com/microsoft/graph/requests/upload/UploadSessionRequestBuilder.java
  src/main/java/com/microsoft/graph/requests/upload/UploadSliceRequestBuilder.java
  src/main/java/com/microsoft/graph/tasks/PageIterator.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

bumps to 3.0.6
  CHANGELOG.md
  gradle.properties
  src/main/java/com/microsoft/graph/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

builder.client now calls builder.requestAdapter
  src/main/java/com/microsoft/graph/tasks/PageIterator.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

null check
  src/main/java/com/microsoft/graph/tasks/PageIterator.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

remove legacy sonarQube plugin implementation
  android/build.gradle
  build.gradle
Due: .azure-pipelines/prValidate.yml

- restores auto-build in an attempt to remove a phantom check entry
  .github/workflows/codeql-analysis.yml
Due: .azure-pipelines/prValidate.yml

Options package added, refactor clientOptions
  src/main/java/com/microsoft/graph/requests/BaseGraphRequestAdapter.java
  src/main/java/com/microsoft/graph/requests/middleware/GraphTelemetryHandler.java
  src/main/java/com/microsoft/graph/requests/options/GraphClientOption.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
  src/test/java/com/microsoft/graph/requests/middleware/GraphTelemetryHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Add UrlReplaceHandler, add to default client factory
  src/main/java/com/microsoft/graph/CoreConstants.java
  src/main/java/com/microsoft/graph/UrlReplacement.java
  src/main/java/com/microsoft/graph/requests/FeatureFlag.java
  src/main/java/com/microsoft/graph/requests/GraphClientFactory.java
  src/main/java/com/microsoft/graph/requests/middleware/UrlReplaceHandler.java
  src/main/java/com/microsoft/graph/requests/options/UrlReplaceOption.java
  src/test/java/com/microsoft/graph/requests/middleware/UrlReplaceHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Replace URL at BatchRequestStep, update tests
  src/main/java/com/microsoft/graph/models/BatchRequestStep.java
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

UrlReplaceHandler removed and moved to Kiota-Java
  src/main/java/com/microsoft/graph/UrlReplacement.java
  src/main/java/com/microsoft/graph/models/BatchRequestStep.java
  src/main/java/com/microsoft/graph/requests/GraphClientFactory.java
  src/main/java/com/microsoft/graph/requests/middleware/UrlReplaceHandler.java
  src/main/java/com/microsoft/graph/requests/options/UrlReplaceOption.java
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Comments
  src/main/java/com/microsoft/graph/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

moved urlhandlertest to kiota-java
  src/test/java/com/microsoft/graph/requests/middleware/UrlReplaceHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Temporary dependencies
  build.gradle
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

Bumps to 3.07
  CHANGELOG.md
  build.gradle
  gradle.properties
  gradle/dependencies.gradle
  readme.md
  src/main/java/com/microsoft/graph/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

annotation
  src/main/java/com/microsoft/graph/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

use only java-library
  build.gradle
Due: .azure-pipelines/prValidate.yml

Remove Spotbugs Annotation Dependency
  gradle/dependencies.gradle
  spotBugsExcludeFilter.xml
  src/main/java/com/microsoft/graph/content/BatchRequestContent.java
  src/main/java/com/microsoft/graph/content/BatchRequestContentCollection.java
  src/main/java/com/microsoft/graph/content/BatchResponseContent.java
  src/main/java/com/microsoft/graph/requests/BatchRequestBuilder.java
  src/main/java/com/microsoft/graph/requests/ResponseBodyHandler.java
  src/main/java/com/microsoft/graph/requests/middleware/GraphTelemetryHandler.java
  src/main/java/com/microsoft/graph/requests/upload/UploadResponseHandler.java
  src/main/java/com/microsoft/graph/requests/upload/UploadSessionRequestBuilder.java
  src/main/java/com/microsoft/graph/requests/upload/UploadSliceRequestBuilder.java
  src/main/java/com/microsoft/graph/tasks/PageIterator.java
  src/test/java/com/microsoft/graph/BaseClient.java
  src/test/java/com/microsoft/graph/content/BatchResponseContentTest.java
  src/test/java/com/microsoft/graph/tasks/PageIteratorTest.java
  src/test/java/com/microsoft/graph/testModels/TestAttendee.java
  src/test/java/com/microsoft/graph/testModels/TestDateTimeTimeZone.java
  src/test/java/com/microsoft/graph/testModels/TestEvent.java
  src/test/java/com/microsoft/graph/testModels/TestItemBody.java
  src/test/java/com/microsoft/graph/testModels/TestRecipient.java
  src/test/java/com/microsoft/graph/testModels/TestUser.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Version Bump
  CHANGELOG.md
  gradle.properties
  readme.md
  src/main/java/com/microsoft/graph/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

chore: update branch protection rules
  .github/policies/msgraph-sdk-java-core-branch-protection.yml
Due: .azure-pipelines/prValidate.yml

Update readme.md
  readme.md
Due: none

Path conditions:
  .azure-pipelines/buildAndPackage.yml: any of: src, but not: .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
  .azure-pipelines/prValidate.yml: any file but: .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
