Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - template: templates/build/checkout-and-credscan.yml
      - template: templates/install-java.yml
      - template: templates/secure-files.yml
        parameters:
          stageID: build
  ...

.azure-pipelines/prValidate.yml:
  pool:
    vmImage: windows-latest
  steps:
  - template: templates/build/checkout-and-credscan.yml
  - template: templates/build/install-java.yml
  - template: templates/build/build-and-coverage.yml
  - template: templates/alert-failure.yml

Update build-and-publish.yml
  .github/workflows/build-and-publish.yml
Due: .azure-pipelines/prValidate.yml

Update Ref
  .github/workflows/build-and-publish.yml
Due: .azure-pipelines/prValidate.yml

Fix Changlelog File
  CHANGELOG.md
Due: .azure-pipelines/prValidate.yml

Add Drop Path
  .github/workflows/git-release.yml
Due: .azure-pipelines/prValidate.yml

Update git-release.yml
  .github/workflows/git-release.yml
Due: .azure-pipelines/prValidate.yml

Update CHANGELOG.md
  CHANGELOG.md
Due: .azure-pipelines/prValidate.yml

Update .github/workflows/git-release.yml
  .github/workflows/git-release.yml
Due: .azure-pipelines/prValidate.yml

- replaces path by path ignore so CI triggers on dependabot PRs
  .github/workflows/build-and-publish.yml
  .github/workflows/gradle-build.yml
Due: .azure-pipelines/prValidate.yml

save for later
  src/main/java/com/microsoft/graph/core/BaseClient.java
  src/main/java/com/microsoft/graph/core/IBaseClient.java
  src/main/java/com/microsoft/graph/http/BaseCollectionPage.java
  src/main/java/com/microsoft/graph/http/BaseRequest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- upgrades CI and tooling to java 17
  .github/workflows/api-level-lint.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-build.yml
  .github/workflows/sample-build-check.yml
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: .azure-pipelines/prValidate.yml

- ugprades wrapper for samples
  samples/deviceCodeSample/gradle/wrapper/gradle-wrapper.jar
  samples/deviceCodeSample/gradle/wrapper/gradle-wrapper.properties
  samples/deviceCodeSample/gradlew
  samples/interactiveBrowserSample/gradle/wrapper/gradle-wrapper.jar
  samples/interactiveBrowserSample/gradle/wrapper/gradle-wrapper.properties
  samples/interactiveBrowserSample/gradlew
Due: .azure-pipelines/prValidate.yml

- updates broken link to application registration
  readme.md
Due: none

- fixes #364 a bug where batching would fail for national clouds
  CHANGELOG.md
  src/main/java/com/microsoft/graph/content/BatchRequestContent.java
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- code-linting: replaces multiple tests by paramaterized
  gradle/dependencies.gradle
  pom.xml
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- updates changelog to include dependabot PRs since last release
  CHANGELOG.md
Due: .azure-pipelines/prValidate.yml

- adds support for cancelling request
  src/main/java/com/microsoft/graph/http/CoreHttpCallbackFutureWrapper.java
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
  src/test/java/com/microsoft/graph/http/CoreHttpCallbackFutureWrapperTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes spot bugs issues
  src/test/java/com/microsoft/graph/http/CoreHttpCallbackFutureWrapperTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- code linting
  src/test/java/com/microsoft/graph/http/CoreHttpCallbackFutureWrapperTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds changelog entry for requests cancellation
  CHANGELOG.md
Due: .azure-pipelines/prValidate.yml

- applies PR suggestions
  src/main/java/com/microsoft/graph/http/CoreHttpCallbackFutureWrapper.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update gradle.properties
  gradle.properties
Due: none

Update pom.xml
  pom.xml
Due: .azure-pipelines/prValidate.yml

Update readme.md
  readme.md
Due: none

Update TelemetryHandler.java
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Create AuthConstants.java
  src/main/java/com/microsoft/graph/authentication/AuthConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

AdditionalDataManager spotbug suppress
  src/main/java/com/microsoft/graph/serializer/AdditionalDataManager.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

BaseCollectionRequest spotbugs suppress
  src/main/java/com/microsoft/graph/http/BaseCollectionRequest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

BaseClient spotbugs suppress
  src/main/java/com/microsoft/graph/core/BaseClient.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

BaseRequest spotbugs suppress
  src/main/java/com/microsoft/graph/http/BaseRequest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

BaseCollectionPage spotbugs suppress
  src/main/java/com/microsoft/graph/http/BaseCollectionPage.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

BaseRequestBuilder spotbugs suppress
  src/main/java/com/microsoft/graph/http/BaseRequestBuilder.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Build.gradle complier dependencies for spotbugs annotations
  build.gradle
Due: .azure-pipelines/prValidate.yml

CoreHttpProvider suppress warnings
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

DefaultSerializer suppress warnings
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

FallbackTypeAdapterFactory suppress warnings
  src/main/java/com/microsoft/graph/serializer/FallbackTypeAdapterFactory.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

GraphErrorResponse suppress warnings
  src/main/java/com/microsoft/graph/http/GraphErrorResponse.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Back to original line
  src/main/java/com/microsoft/graph/core/IBaseClient.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Path conditions:
  .azure-pipelines/buildAndPackage.yml: any of: src, but not: .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
  .azure-pipelines/prValidate.yml: any file but: .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
