Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - template: templates/build/checkout-and-credscan.yml
      - template: templates/install-java.yml
      - template: templates/secure-files.yml
        parameters:
          stageID: build
  ...

.azure-pipelines/prValidate.yml:
  pool:
    vmImage: windows-latest
  steps:
  - template: templates/build/checkout-and-credscan.yml
  - template: templates/build/install-java.yml
  - template: templates/build/build-and-coverage.yml
  - template: templates/alert-failure.yml

error constant
  src/main/java/com/microsoft/graph/Requests/GraphClientOption.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

kiota libs use api dependency declaration
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

Update dependencies.gradle
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

source/target compatibility to 11
  build.gradle
Due: .azure-pipelines/prValidate.yml

Update build.gradle
  build.gradle
Due: .azure-pipelines/prValidate.yml

- fixes code deffects reported by static analysis
  src/main/java/com/microsoft/graph/http/BaseRequest.java
  src/main/java/com/microsoft/graph/serializer/FallbackTypeAdapterFactory.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- because indentation is fun
  src/main/java/com/microsoft/graph/core/BaseClient.java
  src/main/java/com/microsoft/graph/http/BaseCollectionRequestBuilder.java
  src/main/java/com/microsoft/graph/http/BaseRequest.java
  src/main/java/com/microsoft/graph/http/BaseStreamRequest.java
  src/main/java/com/microsoft/graph/http/BaseWithReferenceRequest.java
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
  src/main/java/com/microsoft/graph/logger/DefaultLogger.java
  src/main/java/com/microsoft/graph/serializer/ByteArraySerializer.java
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResponseHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update gradle-build.yml
  .github/workflows/gradle-build.yml
Due: .azure-pipelines/prValidate.yml

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: .azure-pipelines/prValidate.yml

Update api-level-lint.yml
  .github/workflows/api-level-lint.yml
Due: .azure-pipelines/prValidate.yml

Update build.gradle
  android/build.gradle
Due: .azure-pipelines/prValidate.yml

Update CoreConstants.java
  src/main/java/com/microsoft/graph/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

locale
  src/main/java/com/microsoft/graph/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

android bump Kotlin specific fixes
  android/build.gradle
  src/main/java/com/microsoft/graph/Requests/FeatureTracker.java
  src/main/java/com/microsoft/graph/Requests/GraphClientFactory.java
  src/main/java/com/microsoft/graph/Requests/GraphClientOption.java
  src/main/java/com/microsoft/graph/Requests/IBaseClient.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Kotlin string concat
  src/main/java/com/microsoft/graph/Requests/BaseGraphRequestAdapter.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Kotlin string concat
  src/main/java/com/microsoft/graph/Requests/GraphClientOption.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Ignore lambda last
  src/main/java/com/microsoft/graph/Requests/BaseGraphRequestAdapter.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update gradle.properties
  gradle.properties
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: .azure-pipelines/prValidate.yml

Dependency Updates and Kotlin Error Handling
  .github/workflows/api-level-lint.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-build.yml
  android/build.gradle
  gradle/dependencies.gradle
  src/main/java/com/microsoft/graph/CoreConstants.java
  src/main/java/com/microsoft/graph/Requests/BaseGraphRequestAdapter.java
  src/main/java/com/microsoft/graph/Requests/FeatureTracker.java
  src/main/java/com/microsoft/graph/Requests/GraphClientFactory.java
  src/main/java/com/microsoft/graph/Requests/GraphClientOption.java
  src/main/java/com/microsoft/graph/Requests/IBaseClient.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update src/main/java/com/microsoft/graph/Requests/BaseGraphRequestAdapter.java
  src/main/java/com/microsoft/graph/Requests/BaseGraphRequestAdapter.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- replaces suppress by suppressWarnings
  src/main/java/com/microsoft/graph/Requests/BaseGraphRequestAdapter.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- switches infrastructure to java 18
  .github/workflows/api-level-lint.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-build.yml
  .github/workflows/sample-build-check.yml
  .github/workflows/sonarcloud.yml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: .azure-pipelines/prValidate.yml

- upgrade android wrapper
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
Due: .azure-pipelines/prValidate.yml

- upgrades wrapper for samples
  samples/deviceCodeSample/gradle/wrapper/gradle-wrapper.jar
  samples/deviceCodeSample/gradle/wrapper/gradle-wrapper.properties
  samples/deviceCodeSample/gradlew
  samples/deviceCodeSample/gradlew.bat
  samples/interactiveBrowserSample/gradle/wrapper/gradle-wrapper.jar
  samples/interactiveBrowserSample/gradle/wrapper/gradle-wrapper.properties
  samples/interactiveBrowserSample/gradlew
  samples/interactiveBrowserSample/gradlew.bat
Due: .azure-pipelines/prValidate.yml

Update GraphErrorCodes.java
  src/main/java/com/microsoft/graph/core/GraphErrorCodes.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update TelemetryHandler.java
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Path conditions:
  .azure-pipelines/buildAndPackage.yml: any of: src, but not: .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
  .azure-pipelines/prValidate.yml: any file but: .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
