Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:
  pool:
    vmImage: windows-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  - task: DownloadSecureFile@1
    inputs:
  ...

.azure-pipelines/prValidate.yml:
  pool:
    vmImage: windows-latest
  steps:
  - checkout: self
    clean: true
    fetchDepth: 1
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  - task: Gradle@2
    inputs:
      gradleWrapperFile: gradlew
  ...

- updates guidance to follow new authentication provider
  readme.md
Due: none

- fixes samples after removal of auth exception
  samples/deviceCodeSample/src/main/java/deviceCodeFlowMain.java
  samples/interactiveBrowserSample/src/main/java/interactiveBrowserMain.java
Due: .azure-pipelines/prValidate.yml

- updates link to get auth provider
  readme.md
Due: none

- switches azure identity dependency to api as it's part of our API
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

Apply suggestions from code review
  samples/deviceCodeSample/src/main/java/deviceCodeFlowMain.java
  src/main/java/com/microsoft/graph/authentication/BaseAuthenticationProvider.java
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
  src/test/java/com/microsoft/graph/authentication/TokenCredentialAuthProviderTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes file/class casing to match conventions
  samples/deviceCodeSample/src/main/java/DeviceCodeFlowMain.java
  samples/interactiveBrowserSample/src/main/java/InteractiveBrowserMain.java
Due: .azure-pipelines/prValidate.yml

- aligns locale
  src/main/java/com/microsoft/graph/authentication/BaseAuthenticationProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- update dependencies for github dependency tree
  pom.xml
Due: .azure-pipelines/prValidate.yml

- major version bump
  gradle.properties
  readme.md
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where some higher level classes would write to stdout/stderr instead of using the provided logging infrastructure
  src/main/java/com/microsoft/graph/content/MSBatchRequestContent.java
  src/main/java/com/microsoft/graph/content/MSBatchResponseContent.java
  src/main/java/com/microsoft/graph/httpcore/RetryHandler.java
  src/test/java/com/microsoft/graph/content/MSBatchRequestContentTest.java
  src/test/java/com/microsoft/graph/httpcore/RetryHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- removes reference to serializer and json in IJsonBackedObject interface to reduce memory footprint
  src/main/java/com/microsoft/graph/http/BaseCollectionPage.java
  src/main/java/com/microsoft/graph/http/BaseCollectionRequest.java
  src/main/java/com/microsoft/graph/http/BaseCollectionResponse.java
  src/main/java/com/microsoft/graph/http/DeltaCollectionPage.java
  src/main/java/com/microsoft/graph/http/GraphErrorResponse.java
  src/main/java/com/microsoft/graph/http/ICollectionResponse.java
  src/main/java/com/microsoft/graph/http/ReferenceRequestBody.java
  src/main/java/com/microsoft/graph/serializer/IJsonBackedObject.java
  src/test/java/com/microsoft/graph/http/BaseCollectionPageTests.java
  src/test/java/com/microsoft/graph/http/ReferenceRequestBodyTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds a unit test for delta link
  src/main/java/com/microsoft/graph/http/DeltaCollectionPage.java
  src/test/java/com/microsoft/graph/http/DeltaCollectionPageTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Use InputStream instead of String in ISerializer
  .gitignore
  gradlew
  src/main/java/com/microsoft/graph/concurrency/ChunkedUploadResponseHandler.java
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
  src/main/java/com/microsoft/graph/http/GraphServiceException.java
  src/main/java/com/microsoft/graph/serializer/CollectionPageSerializer.java
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/main/java/com/microsoft/graph/serializer/ISerializer.java
  src/test/java/com/microsoft/graph/core/GraphServiceClientTest.java
  src/test/java/com/microsoft/graph/http/CoreHttpProviderTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update src/main/java/com/microsoft/graph/serializer/CollectionPageSerializer.java
  src/main/java/com/microsoft/graph/serializer/CollectionPageSerializer.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- replaces manual null defensive programming by facilitating method
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
  src/main/java/com/microsoft/graph/content/MSBatchRequestContent.java
  src/main/java/com/microsoft/graph/content/MSBatchRequestStep.java
  src/main/java/com/microsoft/graph/content/MSBatchResponseContent.java
  src/main/java/com/microsoft/graph/core/BaseClient.java
  src/main/java/com/microsoft/graph/httpcore/RetryHandler.java
  src/main/java/com/microsoft/graph/options/Option.java
  src/test/java/com/microsoft/graph/authentication/TokenCredentialAuthProviderTest.java
  src/test/java/com/microsoft/graph/content/MSBatchRequestContentTest.java
  src/test/java/com/microsoft/graph/content/MSBatchRequestStepTest.java
  src/test/java/com/microsoft/graph/content/MSBatchResponseContentTest.java
  src/test/java/com/microsoft/graph/httpcore/RetryHandlerTest.java
  src/test/java/com/microsoft/graph/options/OptionTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Revert "Update src/main/java/com/microsoft/graph/serializer/CollectionPageSerializer.java"
  src/main/java/com/microsoft/graph/serializer/CollectionPageSerializer.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Revert "Update src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java"
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

revert change in ChunkedUploadResponseHandler
  src/main/java/com/microsoft/graph/concurrency/ChunkedUploadResponseHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

minor updates
  src/main/java/com/microsoft/graph/serializer/ISerializer.java
  src/test/java/com/microsoft/graph/http/CoreHttpProviderTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Add ISerializer.deserializeObject(jsonElement). Add Util.closeQuietly
  src/main/java/com/microsoft/graph/Util.java
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/main/java/com/microsoft/graph/serializer/ISerializer.java
  src/test/java/com/microsoft/graph/core/GraphServiceClientTest.java
  src/test/java/com/microsoft/graph/http/BaseCollectionRequestTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

refactoring: use default methods in ISerializer
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/main/java/com/microsoft/graph/serializer/ISerializer.java
  src/test/java/com/microsoft/graph/core/GraphServiceClientTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

minor cleanup
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

minor cleanup
  src/main/java/com/microsoft/graph/concurrency/ChunkedUploadResponseHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Added Nullable
  src/main/java/com/microsoft/graph/Util.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

improved error parsing
  src/main/java/com/microsoft/graph/http/GraphServiceException.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where collection responses would not respect odata inheritance
  src/main/java/com/microsoft/graph/http/BaseCollectionResponse.java
  src/main/java/com/microsoft/graph/httpcore/ChaosHttpHandler.java
  src/main/java/com/microsoft/graph/serializer/CollectionPageSerializer.java
  src/main/java/com/microsoft/graph/serializer/CollectionResponseSerializer.java
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/main/java/com/microsoft/graph/serializer/GsonFactory.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

added a comment
  src/main/java/com/microsoft/graph/Util.java
  src/main/java/com/microsoft/graph/serializer/ISerializer.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

ChunkedUploadResponseHandler: Use InputStream to parse ChunkedUploadResult
  src/main/java/com/microsoft/graph/concurrency/ChunkedUploadResponseHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- removes use of emptymaps to avoid illegal refelctive warnings
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/main/java/com/microsoft/graph/serializer/ISerializer.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- removes unecessary imports and deprecated annotation
  src/main/java/com/microsoft/graph/http/BaseCollectionRequest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- removes uncessary deprecated annotations
  src/main/java/com/microsoft/graph/serializer/ISerializer.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a mocks types to prevent unit tests from failing
  src/test/java/com/microsoft/graph/http/BaseCollectionRequestTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

fixed: self-closing element not allowed in javadoc
  src/main/java/com/microsoft/graph/Util.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Replace jetbrains NotNull with javax Nullable
  src/main/java/com/microsoft/graph/concurrency/ChunkedUploadResponseHandler.java
  src/main/java/com/microsoft/graph/http/GraphServiceException.java
  src/test/java/com/microsoft/graph/core/GraphServiceClientTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds missing legal header
  src/main/java/com/microsoft/graph/serializer/CollectionResponseSerializer.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- lints
  src/main/java/com/microsoft/graph/http/BaseStreamRequest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- upgrades to junit5
  build.gradle
  gradle/dependencies.gradle
  src/test/java/com/microsoft/graph/authentication/BaseAuthenticationProviderTest.java
  src/test/java/com/microsoft/graph/authentication/TokenCredentialAuthProviderTest.java
  src/test/java/com/microsoft/graph/content/MSBatchRequestContentTest.java
  src/test/java/com/microsoft/graph/content/MSBatchRequestStepTest.java
  src/test/java/com/microsoft/graph/content/MSBatchResponseContentTest.java
  src/test/java/com/microsoft/graph/core/BaseClientTests.java
  src/test/java/com/microsoft/graph/core/ClientExceptionTests.java
  src/test/java/com/microsoft/graph/core/GraphServiceClientTest.java
  src/test/java/com/microsoft/graph/core/MultipartTests.java
  src/test/java/com/microsoft/graph/http/BaseCollectionPageTests.java
  src/test/java/com/microsoft/graph/http/BaseCollectionRequestTests.java
  src/test/java/com/microsoft/graph/http/BaseRequestBuilderTests.java
  src/test/java/com/microsoft/graph/http/BaseRequestTests.java
  src/test/java/com/microsoft/graph/http/BaseStreamRequestTests.java
  src/test/java/com/microsoft/graph/http/CoreHttpProviderTests.java
  src/test/java/com/microsoft/graph/http/DeltaCollectionPageTests.java
  src/test/java/com/microsoft/graph/http/GraphErrorResponseTests.java
  src/test/java/com/microsoft/graph/http/GraphErrorTests.java
  src/test/java/com/microsoft/graph/http/GraphFatalServiceExceptionTests.java
  src/test/java/com/microsoft/graph/http/GraphServiceExceptionTests.java
  src/test/java/com/microsoft/graph/http/ReferenceRequestBodyTests.java
  src/test/java/com/microsoft/graph/httpcore/AuthenticationHandlerTest.java
  src/test/java/com/microsoft/graph/httpcore/HttpClientsTest.java
  src/test/java/com/microsoft/graph/httpcore/RedirectHandlerTest.java
  src/test/java/com/microsoft/graph/httpcore/RetryHandlerTest.java
  src/test/java/com/microsoft/graph/httpcore/TelemetryHandlerTest.java
  src/test/java/com/microsoft/graph/httpcore/TelemetryOptionsTest.java
  src/test/java/com/microsoft/graph/logger/DefaultLoggerTests.java
  src/test/java/com/microsoft/graph/options/OptionTests.java
  src/test/java/com/microsoft/graph/serializer/ByteArraySerializerTests.java
  src/test/java/com/microsoft/graph/serializer/DateOnlyTests.java
  src/test/java/com/microsoft/graph/serializer/DurationTests.java
  src/test/java/com/microsoft/graph/serializer/ISO8601Test.java
  src/test/java/com/microsoft/graph/serializer/OffsetDateTimeSerializerTests.java
  src/test/java/com/microsoft/graph/serializer/TimeOfDayTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- upgrades dependencies
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

- updates POM to match dependencies for github dep tree
  pom.xml
Due: .azure-pipelines/prValidate.yml

Path conditions:
  .azure-pipelines/buildAndPackage.yml: any of: src, but not: .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, build.gradle, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
  .azure-pipelines/prValidate.yml: any file but: .azure-pipelines, .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
