Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:

#Copyright (c) Microsoft Corporation. All rights reserved.
#Licensed under the MIT License.
#Building and packaging the artifacts of the Java-Core libraries using the build.gradle file.
#Ready the package for deployment and release. 

trigger:
  branches:
    include:
      - dev
      - main
      - master
  paths:
    include:
      - src/*
    exclude:
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle
      - Scripts/*

pr: 
- dev
- master

pool:
  vmImage: windows-latest

variables: 
  DROP_PATH: '$(Agent.BuildDirectory)/Drop'

stages:
- stage: Build
  jobs:
  - job: Build
    steps:
    - template: templates/build/checkout-and-credscan.yml
    - template: templates/install-java.yml
    - template: templates/secure-files.yml
      parameters:
        stageID: 'build'
    - template: templates/build/build-and-coverage.yml
    - template: templates/build/publish-artefacts.yml

- stage: Maven_Preview
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/dev'))
  jobs: 
  - deployment: Maven_Preview
    environment: 'MSGraph SDK Development - Java'
    pool:
      vmImage: windows-latest
    strategy:
     runOnce:
      deploy:
        steps:
        - template: templates/download-artifacts.yml
          parameters:
            directoryPath: $(DROP_PATH)
        - template: templates/install-java.yml
        - template: templates/secure-files.yml
        - template: templates/copy-and-build.yml
          parameters:
            task: 'publishSnapshotPublicationToSonatypeSnapshotRepository'
            directoryPath: $(DROP_PATH)

- stage: Maven_Release_And_Github_Release
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  jobs:
  - deployment: Maven_Release
    environment: 'MSGraph SDK Development - Java'
    pool:
      vmImage: windows-latest
    strategy:
     runOnce:
      deploy:
        steps:
        - template: templates/download-artifacts.yml
          parameters:
            directoryPath: $(DROP_PATH)
        - template: templates/install-java.yml
        - template: templates/secure-files.yml
          parameters:
            stageID: 'release'
        - template: templates/copy-and-build.yml
          parameters:
            task: 'publishMavenCentralReleasePublicationToSonatypeRepository'
            directoryPath: $(DROP_PATH)

  - deployment: Github_Release
    dependsOn: Maven_Release
    environment: 'MSGraph SDK Development - Java'
    pool:
      vmImage: windows-latest
    strategy: 
     runOnce:
      deploy:
        steps: 
        - template: templates/download-artifacts.yml
          parameters:
            directoryPath: $(DROP_PATH)
        - template: templates/version-and-release.yml
          parameters:
            gitConnection: 'microsoftgraphrelease'
            directoryPath: $(DROP_PATH)

.azure-pipelines/prValidate.yml:

#Copyright (c) Microsoft Corporation. All rights reserved.
#Licensed under the MIT License.
#Build and test Java Core to make sure a valid pull request is being made
#Validate that the versions dont conflict with those online in case a pull request is made to main or master

pr: 
  branches:
    include:
      - dev
      - main
      - master
  paths:
    exclude:
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle
      - Scripts/*

trigger: none # disable triggers based on commits.

pool:
  vmImage: windows-latest

steps:
- template: templates/build/checkout-and-credscan.yml
- template: templates/build/install-java.yml
- template: templates/build/build-and-coverage.yml
- template: templates/alert-failure.yml

- updates code of conduct to the latest standard
  CODE_OF_CONDUCT.md
Due: .azure-pipelines/prValidate.yml

- fixes workflows triggers
  .github/workflows/gradle-build.yml
Due: .azure-pipelines/prValidate.yml

Update branch protection policy
  .github/policies/msgraph-sdk-java-core-branch-protection.yml
Due: .azure-pipelines/prValidate.yml

Update GH workflows
  .github/workflows/api-level-lint.yml
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conflicting-pr-label.yml
  .github/workflows/git-release.yml
  .github/workflows/gradle-build.yml
  .github/workflows/sonarcloud.yml
Due: .azure-pipelines/prValidate.yml

Add release-please.yml
  .github/release-please.yml
Due: .azure-pipelines/prValidate.yml

Update git release workflow
  .github/workflows/git-release.yml
Due: .azure-pipelines/prValidate.yml

Remove tag creation step from publish workflow
  .github/workflows/build-and-publish.yml
Due: .azure-pipelines/prValidate.yml

Add release please manifest.json
  .release-please-manifest.json
Due: .azure-pipelines/prValidate.yml

Update CHANGELOG
  CHANGELOG.md
Due: .azure-pipelines/prValidate.yml

Add commit message guidance to contribution guide
  CONTRIBUTING.md
Due: none

Deprecate increment minor version script
  scripts/incrementMinorVersion.ps1
Due: .azure-pipelines/prValidate.yml

Add release please config and version comments
  README.md
  gradle.properties
  pom.xml
  release-please-config.json
  src/main/java/com/microsoft/graph/core/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Trigger mvn central release on tags
  .github/workflows/build-and-publish.yml
Due: .azure-pipelines/prValidate.yml

- cleans up remainder master references
  .github/ISSUE_TEMPLATE.md
  .github/workflows/conflicting-pr-label.yml
  README.md
Due: .azure-pipelines/prValidate.yml

chore: removes dev branch references
  CONTRIBUTING.md
Due: none

chore: edit to trigger policies evaluation
  .github/policies/msgraph-sdk-java-core-branch-protection.yml
Due: .azure-pipelines/prValidate.yml

fix: Bump Kiota dependencies
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

** fix ** fix for LargeFileTaskUpload constructor
  CHANGELOG.md
  gradle.properties
  src/main/java/com/microsoft/graph/core/tasks/LargeFileUploadTask.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Revert "** fix ** fix for LargeFileTaskUpload constructor"
  CHANGELOG.md
  gradle.properties
  src/main/java/com/microsoft/graph/core/tasks/LargeFileUploadTask.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

** fix ** Fixes LargeFileUploadTask constructor
  src/main/java/com/microsoft/graph/core/tasks/LargeFileUploadTask.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

**style** Forbid user formatter to format code
  .vscode/settings.json
Due: .azure-pipelines/prValidate.yml

Revert "** fix ** fix for LargFileUploadTask constructor"
  .vscode/settings.json
  src/main/java/com/microsoft/graph/core/tasks/LargeFileUploadTask.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

fix: disabled checking for stream available length in large file upload #1621
  README.md
Due: .azure-pipelines/prValidate.yml

style: reverts auto-formatting disablement from #1623
  .vscode/settings.json
Due: .azure-pipelines/prValidate.yml

fix(dependencies): Bump Kiota dependencies
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

Add project auto add workflow
  .github/workflows/project-auto-add.yml
Due: .azure-pipelines/prValidate.yml

Add project auto add workflow (#1632)
  .github/workflows/project-auto-add.yml
Due: .azure-pipelines/prValidate.yml

Do GitHub release after uploading artifacts to Maven
  .github/workflows/build-and-publish.yml
  .github/workflows/git-release.yml
Due: .azure-pipelines/prValidate.yml

Trigger release only on tags by release-please
  .github/workflows/build-and-publish.yml
Due: .azure-pipelines/prValidate.yml

fix(dependencies): Bump Kiota dependencies
  src/main/java/com/microsoft/graph/core/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

chore!: replaces project bot token task by official one
  .github/workflows/project-auto-add.yml
Due: .azure-pipelines/prValidate.yml

Add Java 8 sub project
  java-8/.gitignore
  java-8/build.gradle
  java-8/gradle.properties
  java-8/settings.gradle
Due: .azure-pipelines/prValidate.yml

Update build workflow to run for Java 8
  .github/workflows/gradle-build.yml
Due: .azure-pipelines/prValidate.yml

remove label waiting for author feedback if issue closes
  .github/policies/resourceManagement.yml
Due: .azure-pipelines/prValidate.yml

remove label waiting for author feedback if issue closes (#1658)
  .github/policies/resourceManagement.yml
Due: .azure-pipelines/prValidate.yml

Chore: Add issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/01-sdk-bug.yml
  .github/ISSUE_TEMPLATE/02-sdk-feature-request.yml
  .github/ISSUE_TEMPLATE/03-blank-issue.md
  .github/ISSUE_TEMPLATE/config.yml
Due: .azure-pipelines/prValidate.yml

Update .github/ISSUE_TEMPLATE/config.yml discussions endpoint
  .github/ISSUE_TEMPLATE/config.yml
Due: .azure-pipelines/prValidate.yml

Bump android compiler
  android/build.gradle
Due: .azure-pipelines/prValidate.yml

ci: adds missing gradle dependencies caching to CI
  .github/workflows/api-level-lint.yml
Due: .azure-pipelines/prValidate.yml

Prevent duplicate dependabot PRs
  .github/dependabot.yml
Due: .azure-pipelines/prValidate.yml
