Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - template: templates/build/checkout-and-credscan.yml
      - template: templates/install-java.yml
      - template: templates/secure-files.yml
        parameters:
          stageID: build
  ...

.azure-pipelines/prValidate.yml:
  pool:
    vmImage: windows-latest
  steps:
  - template: templates/build/checkout-and-credscan.yml
  - template: templates/build/install-java.yml
  - template: templates/build/build-and-coverage.yml
  - template: templates/alert-failure.yml

- bumps android tooling to unblock
  android/build.gradle
Due: .azure-pipelines/prValidate.yml

Issue-1860: Remove Google Guava dependency
  pom.xml
Due: .azure-pipelines/prValidate.yml

Update LargeFileUploadTask.java
  src/main/java/com/microsoft/graph/core/tasks/LargeFileUploadTask.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update CHANGELOG.md
  CHANGELOG.md
Due: .azure-pipelines/prValidate.yml

Update tests to use mock HTTP client
  src/test/java/com/microsoft/graph/core/requests/upload/UploadResponseHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Handle empty response body with location header
  src/main/java/com/microsoft/graph/core/requests/upload/UploadResponseHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update CHANGELOG and bump version
  CHANGELOG.md
  gradle.properties
Due: .azure-pipelines/prValidate.yml

Remove lib as its not used in the testing
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

- bumps patch version to release
  CHANGELOG.md
  gradle.properties
  src/main/java/com/microsoft/graph/core/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- bumps patch version
  gradle.properties
Due: none

- bumps telemetry patch version
  src/main/java/com/microsoft/graph/core/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes reference to removed tag for github release action
  .github/workflows/build-and-publish.yml
Due: .azure-pipelines/prValidate.yml

add 'canBeParsed' check
  src/main/java/com/microsoft/graph/core/requests/upload/UploadResponseHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update CHANGELOG and bump version
  CHANGELOG.md
Due: .azure-pipelines/prValidate.yml

Update test implementation dependencies
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

Check for response body using content-length or content type
  src/main/java/com/microsoft/graph/core/requests/upload/UploadResponseHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Restore using nativeResponseHandler in GET uploadSession to handle errors
  src/main/java/com/microsoft/graph/core/requests/upload/UploadSessionRequestBuilder.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update CHANGELOG
  CHANGELOG.md
Due: .azure-pipelines/prValidate.yml

Simplify upload response handling
  src/main/java/com/microsoft/graph/core/requests/upload/UploadResponseHandler.java
  src/main/java/com/microsoft/graph/core/requests/upload/UploadSessionRequestBuilder.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Check for empty response body using content type and content length
  src/main/java/com/microsoft/graph/core/requests/upload/UploadResponseHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Remove unused import
  src/main/java/com/microsoft/graph/core/requests/upload/UploadSessionRequestBuilder.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Document content length context
  src/main/java/com/microsoft/graph/core/requests/upload/UploadResponseHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Bump Kiota libs and remove opentelemetry alpha dependency
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

- bumps kiota dependencies
  CHANGELOG.md
  gradle.properties
  gradle/dependencies.gradle
  src/main/java/com/microsoft/graph/core/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- upgrades wrapper to 8.7
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Due: .azure-pipelines/prValidate.yml

- upgrades wrapper to 8.7
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew.bat
Due: .azure-pipelines/prValidate.yml

Downgrade jakarta.annotation-api dependency for java 8 compatibility
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

Bump Kiota libs
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

Bump lib version and update CHANGELOG
  CHANGELOG.md
  gradle.properties
  readme.md
  src/main/java/com/microsoft/graph/core/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Path conditions:
  .azure-pipelines/buildAndPackage.yml: any of: src, but not: .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
  .azure-pipelines/prValidate.yml: any file but: .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
