Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:

#Copyright (c) Microsoft Corporation. All rights reserved.
#Licensed under the MIT License.
#Building and packaging the artifacts of the Java-Core libraries using the build.gradle file.
#Ready the package for deployment and release. 

trigger:
  branches:
    include:
      - dev
      - main
      - master
      - feature/v2
  paths:
    include:
      - src/*
    exclude:
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle
      - Scripts/*

pr: none

pool:
  vmImage: windows-latest

steps:
- template: templates/checkout-and-credscan.yml
- template: templates/install-java.yml
- template: templates/secure-files.yml
- template: templates/build-and-coverage.yml
- template: templates/publish-artefacts.yml
- template: templates/alert-failure.yml

.azure-pipelines/prValidate.yml:

#Copyright (c) Microsoft Corporation. All rights reserved.
#Licensed under the MIT License.
#Build and test Java Core to make sure a valid pull request is being made
#Validate that the versions dont conflict with those online in case a pull request is made to main or master

pr: 
  branches:
    include:
      - dev
      - main
      - master
      - feature/v2
  paths:
    exclude:
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle
      - Scripts/*

trigger: none # disable triggers based on commits.

pool:
  vmImage: windows-latest

steps:
- template: templates/checkout-and-credscan.yml
- template: templates/install-java.yml
- template: templates/build-and-coverage.yml
- template: templates/alert-failure.yml

- bumps patch version
  gradle.properties
  pom.xml
  readme.md
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes #178 adds canary url in list of valid hostnames for authentication
  src/main/java/com/microsoft/graph/authentication/BaseAuthenticationProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- upgrades gradle wrapper to support java version
  android/gradle/wrapper/gradle-wrapper.properties
  gradle/wrapper/gradle-wrapper.properties
Due: .azure-pipelines/prValidate.yml

- updates android gradle plugins to match gradle 7
  android/build.gradle
Due: .azure-pipelines/prValidate.yml

- upgrades gradle wrapper for samples to gradle 7 & java 16
  samples/deviceCodeSample/build.gradle
  samples/deviceCodeSample/gradle/wrapper/gradle-wrapper.properties
  samples/interactiveBrowserSample/build.gradle
  samples/interactiveBrowserSample/gradle/wrapper/gradle-wrapper.properties
Due: .azure-pipelines/prValidate.yml

- adds unit tests for default retry and redirect options values
  src/test/java/com/microsoft/graph/httpcore/RedirectHandlerTest.java
  src/test/java/com/microsoft/graph/httpcore/middlewareoption/RedirectOptionsTest.java
  src/test/java/com/microsoft/graph/httpcore/middlewareoption/RetryOptionsTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds unit test on getHttpReqest method to test for default retry and redirect behavior
  src/test/java/com/microsoft/graph/http/CoreHttpProviderTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- updates reference file for dependency tree
  pom.xml
Due: .azure-pipelines/prValidate.yml

- adds maven to dependabot to keep dependencies tree in sync with gradle
  .github/dependabot.yml
Due: .azure-pipelines/prValidate.yml

- adds devx api yaml header file
  devx.yml
Due: .azure-pipelines/prValidate.yml

- fixes #194 and replaces the azure identity dependency by azure core
  gradle/dependencies.gradle
  readme.md
Due: .azure-pipelines/prValidate.yml

- updates pom.xml to match updated depdencies
  pom.xml
Due: .azure-pipelines/prValidate.yml

- typo fix
  readme.md
Due: none

- switches code sample to groovy
  readme.md
Due: none

- updates jacoco version to remove snapshot reference since it was released
  build.gradle
Due: .azure-pipelines/prValidate.yml

- fixes #196 a bug where delta tokens would not be extracted properly
  src/main/java/com/microsoft/graph/http/BaseDeltaCollectionRequest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes #213 changes annotations to nonnull for build request methods
  src/main/java/com/microsoft/graph/http/BaseCollectionRequestBuilder.java
  src/main/java/com/microsoft/graph/http/BaseReferenceRequestBuilder.java
  src/main/java/com/microsoft/graph/http/BaseWithReferenceRequestBuilder.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- bumps patch version number
  gradle.properties
  readme.md
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes #209 a bug where batch errors would not respect configured log level
  src/main/java/com/microsoft/graph/content/BatchResponseStep.java
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds unit tests for batch response steps exception verbosity
  src/test/java/com/microsoft/graph/content/BatchResponseContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- switches to the charset constant instead of a string
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where the scanner class doesn't have a charset CTOR on android
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes #217 a bug where timeofday would not be serialized properly
  src/main/java/com/microsoft/graph/serializer/GsonFactory.java
  src/test/java/com/microsoft/graph/serializer/TimeOfDayTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- bumps patch version
  gradle.properties
  readme.md
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds sonarcloud configuration
  .github/workflows/sonarcloud.yml
  build.gradle
Due: .azure-pipelines/prValidate.yml

- adds badges for download and sonarcloud to readme
  readme.md
Due: none

- adds worfklow dispatch event to be able to manually trigger the workflows
  .github/workflows/api-level-lint.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conflicting-pr-label.yml
  .github/workflows/sample-build-check.yml
  .github/workflows/sonarcloud.yml
Due: .azure-pipelines/prValidate.yml

- updates sonarcloud configuration to match organization
  build.gradle
Due: .azure-pipelines/prValidate.yml

- fixes a bug where passing null to additional data manager could lead to a null ref excep
  src/main/java/com/microsoft/graph/serializer/AdditionalDataManager.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where the serializer would only look at first level properties for additional data
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
  src/test/java/com/microsoft/graph/content/BatchRequestTestBody.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- code linting
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- more code linting
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- pr feedback
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes #232 a bug where additional data serialization would fail in some cases
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where collections of primitives would not be deserialized properly
  src/main/java/com/microsoft/graph/serializer/CollectionResponseSerializer.java
  src/test/java/com/microsoft/graph/serializer/CollectionResponseOfPrimitives.java
  src/test/java/com/microsoft/graph/serializer/CollectionResponseOfPrimitivesTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- improves defensive programing on base collection set raw data
  src/main/java/com/microsoft/graph/http/BaseCollectionResponse.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- code linting
  src/main/java/com/microsoft/graph/http/BaseCollectionResponse.java
  src/test/java/com/microsoft/graph/serializer/CollectionResponseOfPrimitivesTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml
