Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    jobs:
    - job: Build
      steps:
      - template: templates/build/checkout-and-credscan.yml
      - template: templates/install-java.yml
      - template: templates/secure-files.yml
        parameters:
          stageID: build
  ...

.azure-pipelines/prValidate.yml:
  pool:
    vmImage: windows-latest
  steps:
  - template: templates/build/checkout-and-credscan.yml
  - template: templates/build/install-java.yml
  - template: templates/build/build-and-coverage.yml
  - template: templates/alert-failure.yml

fix spotBugsExcludeFilter.xml
  spotBugsExcludeFilter.xml
Due: .azure-pipelines/prValidate.yml

- bumps kiota dependencies
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

- adds final finalizer to avoid finalizer attacks on defensive programming
  src/main/java/com/microsoft/graph/core/requests/BaseGraphRequestAdapter.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where a null collection for allowed hosts would fail client initialization
  src/main/java/com/microsoft/graph/core/authentication/AzureIdentityAccessTokenProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- code linting
  src/main/java/com/microsoft/graph/core/authentication/AzureIdentityAccessTokenProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

bump to 3.0.12 to avoid possible dependency misalignment.
  CHANGELOG.md
  gradle.properties
  readme.md
  src/main/java/com/microsoft/graph/core/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Version 3.1.0 for JavaSDK Release
  CHANGELOG.md
  android/gradle.properties
  gradle.properties
  gradle/dependencies.gradle
  pom.xml
  readme.md
  src/main/java/com/microsoft/graph/core/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Delete Samples which now live in seperate repo
  .github/workflows/sample-build-check.yml
  samples/deviceCodeSample/.gitignore
  samples/deviceCodeSample/build.gradle
  samples/deviceCodeSample/gradle/wrapper/gradle-wrapper.jar
  samples/deviceCodeSample/gradle/wrapper/gradle-wrapper.properties
  samples/deviceCodeSample/gradlew
  samples/deviceCodeSample/gradlew.bat
  samples/deviceCodeSample/settings.gradle
  samples/interactiveBrowserSample/.gitignore
  samples/interactiveBrowserSample/build.gradle
  samples/interactiveBrowserSample/gradle/wrapper/gradle-wrapper.jar
  samples/interactiveBrowserSample/gradle/wrapper/gradle-wrapper.properties
  samples/interactiveBrowserSample/gradlew
  samples/interactiveBrowserSample/gradlew.bat
  samples/interactiveBrowserSample/settings.gradle
Due: .azure-pipelines/prValidate.yml

Ensure authorization header is not added to BatchRequests
  CHANGELOG.md
  src/main/java/com/microsoft/graph/core/content/BatchRequestContent.java
  src/test/java/com/microsoft/graph/core/content/BatchRequestContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Fix fetching nextLink to allow iteration across all pages
  src/main/java/com/microsoft/graph/core/tasks/PageIterator.java
  src/test/java/com/microsoft/graph/core/tasks/PageIteratorTest.java
  src/test/java/com/microsoft/graph/core/testModels/BaseCollectionPaginationCountResponse.java
  src/test/java/com/microsoft/graph/core/testModels/TestEventsResponse.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update CHANGELOG and bump version
  CHANGELOG.md
  gradle.properties
Due: .azure-pipelines/prValidate.yml

Update delta link unit test
  src/test/java/com/microsoft/graph/core/tasks/PageIteratorTest.java
  src/test/java/com/microsoft/graph/core/testModels/TestEventsDeltaResponse.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

remove authorization header
  src/main/java/com/microsoft/graph/core/content/BatchRequestContent.java
  src/test/java/com/microsoft/graph/core/content/BatchRequestContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

formating
  src/main/java/com/microsoft/graph/core/content/BatchRequestContent.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

bump to 3.1.2
  CHANGELOG.md
  gradle.properties
  src/main/java/com/microsoft/graph/core/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

workflow cleanup
  .github/dependabot.yml
  .github/policies/msgraph-sdk-java-core-branch-protection.yml
  .github/workflows/api-level-lint.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-build.yml
  .github/workflows/sonarcloud.yml
Due: .azure-pipelines/prValidate.yml

standardize branch triggers
  .github/workflows/api-level-lint.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conflicting-pr-label.yml
  .github/workflows/gradle-build.yml
  .github/workflows/sonarcloud.yml
Due: .azure-pipelines/prValidate.yml

clear duplicates from dependabot, add publish permissions
  .github/dependabot.yml
  .github/workflows/build-and-publish.yml
Due: .azure-pipelines/prValidate.yml

java 21 bump
  .github/workflows/api-level-lint.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-build.yml
  .github/workflows/sonarcloud.yml
Due: .azure-pipelines/prValidate.yml

Delete .github/workflows/projectsbot.yml
  .github/workflows/projectsbot.yml
Due: .azure-pipelines/prValidate.yml

Bump version & update CHANGELOG
  CHANGELOG.md
  gradle.properties
Due: .azure-pipelines/prValidate.yml

Branch Protection for support/2.x.x
  .github/policies/msgraph-sdk-java-core-branch-protection.yml
Due: .azure-pipelines/prValidate.yml

Update msgraph-sdk-java-core-branch-protection.yml
  .github/policies/msgraph-sdk-java-core-branch-protection.yml
Due: .azure-pipelines/prValidate.yml

java 20 revert
  .github/workflows/api-level-lint.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-build.yml
  .github/workflows/sonarcloud.yml
Due: .azure-pipelines/prValidate.yml

add permission for gitRelease
  .github/workflows/git-release.yml
Due: .azure-pipelines/prValidate.yml

Apply suggestions from code review
  .github/workflows/api-level-lint.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-build.yml
  .github/workflows/sonarcloud.yml
Due: .azure-pipelines/prValidate.yml

Apply suggestions from code review
  .github/workflows/api-level-lint.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conflicting-pr-label.yml
Due: .azure-pipelines/prValidate.yml

Update dependabot automerge workflow to target
  .github/workflows/auto-merge-dependabot.yml
Due: .azure-pipelines/prValidate.yml

Update CoreConstants.java
  src/main/java/com/microsoft/graph/core/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Constants
  readme.md
Due: none

Added a test for the completion of a file content update via LargeFileUploadTask
  src/test/java/com/microsoft/graph/core/requests/upload/UploadResponseHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Fixed test and fixed a bug
  src/main/java/com/microsoft/graph/core/requests/upload/UploadResponseHandler.java
  src/test/java/com/microsoft/graph/core/requests/upload/UploadResponseHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Test fix and updating releases
  CHANGELOG.md
  gradle.properties
  gradle/dependencies.gradle
  readme.md
  src/test/java/com/microsoft/graph/core/requests/upload/UploadSliceRequestTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes implementation difference for large file upload session
  src/main/java/com/microsoft/graph/core/models/IUploadSession.java
  src/main/java/com/microsoft/graph/core/models/UploadSession.java
  src/test/java/com/microsoft/graph/core/requests/upload/UploadSessionTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- reverts status code changes
  src/main/java/com/microsoft/graph/core/requests/upload/UploadResponseHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- code linting
  src/main/java/com/microsoft/graph/core/models/IUploadSession.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes NRP in large file upload
  src/main/java/com/microsoft/graph/core/requests/upload/UploadResponseHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Bump version for release
  CHANGELOG.md
  gradle.properties
  readme.md
  src/main/java/com/microsoft/graph/core/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

bump to 3.1.6
  CHANGELOG.md
  gradle.properties
  gradle/dependencies.gradle
  readme.md
  src/main/java/com/microsoft/graph/core/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Path conditions:
  .azure-pipelines/buildAndPackage.yml: any of: src, but not: .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
  .azure-pipelines/prValidate.yml: any file but: .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradle.properties, gradlew, gradlew.bat, readme.md, settings.gradle, Scripts
