Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:

#Copyright (c) Microsoft Corporation. All rights reserved.
#Licensed under the MIT License.
#Building and packaging the artifacts of the Java-Core libraries using the build.gradle file.
#Ready the package for deployment and release. 

trigger:
  branches:
    include:
      - dev
      - main
      - master
  paths:
    include:
      - src/*
    exclude:
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle
      - Scripts/*

pr: 
- dev
- master

pool:
  vmImage: ubuntu-latest

stages:
- stage: Build
  jobs:
  - job: Build
    steps:
    - template: templates/build/checkout-and-credscan.yml
    - template: templates/build/install-java.yml
    - template: templates/secure-files.yml
      parameters:
        stageID: 'build'
    - template: templates/build/build-and-coverage.yml
    - template: templates/build/publish-artefacts.yml

- stage: Maven_Preview
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/dev'))
  jobs: 
  - deployment: Maven_Preview
    environment: 'MSGraph SDK Development - Java'
    pool:
      vmImage: ubuntu-latest
    strategy:
     runOnce:
      deploy:
        steps: 
        - template: templates/secure-files.yml
        - template: templates/copy-and-build.yml
          parameters:
            task: 'publishSnapshotPublicationToSonatypeSnapshotRepository'

- stage: Maven_Release_And_Github_Release
  dependsOn: []
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  jobs:
  - deployment: Maven_Release
    environment: 'MSGraph SDK Development - Java'
    pool:
      vmImage: ubuntu-latest
    strategy:
     runOnce:
      deploy:
        steps:
        - template: templates/secure-files.yml
          parameters:
            stageID: 'release'
        - template: templates/copy-and-build.yml
          parameters:
            task: 'publishMavenCentralReleasePublicationToSonatypeRepository'

  - deployment: Github_Release
    dependsOn: Maven_Release
    environment: 'MSGraph SDK Development - Java'
    pool:
      vmImage: ubuntu-latest
    strategy: 
     runOnce:
      deploy:
        steps: 
        - template: templates/version-and-release.yml
          parameters:
            gitConnection: 'microsoftgraphrelease'

.azure-pipelines/prValidate.yml:

#Copyright (c) Microsoft Corporation. All rights reserved.
#Licensed under the MIT License.
#Build and test Java Core to make sure a valid pull request is being made
#Validate that the versions dont conflict with those online in case a pull request is made to main or master

pr: 
  branches:
    include:
      - dev
      - main
      - master
  paths:
    exclude:
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle
      - Scripts/*

trigger: none # disable triggers based on commits.

pool:
  vmImage: windows-latest

steps:
- template: templates/build/checkout-and-credscan.yml
- template: templates/build/install-java.yml
- template: templates/build/build-and-coverage.yml
- template: templates/alert-failure.yml

Update getLatestVersion.ps1
  scripts/getLatestVersion.ps1
Due: .azure-pipelines/prValidate.yml

- fixes stages dependency for release
  .azure-pipelines/buildAndPackage.yml
Due: .azure-pipelines/prValidate.yml

Update publish-artefacts.yml
  .azure-pipelines/templates/build/publish-artefacts.yml
Due: .azure-pipelines/prValidate.yml

move condition to buildAndPackage for readability
  .azure-pipelines/buildAndPackage.yml
  .azure-pipelines/templates/build/publish-artefacts.yml
Due: .azure-pipelines/prValidate.yml

revert back to single job
  .azure-pipelines/buildAndPackage.yml
  .azure-pipelines/templates/build/publish-artefacts.yml
Due: .azure-pipelines/prValidate.yml

Test for CI
  src/test/java/com/microsoft/graph/authentication/BaseAuthenticationProviderTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update buildAndPackage.yml
  .azure-pipelines/buildAndPackage.yml
Due: .azure-pipelines/prValidate.yml

Update BaseAuthenticationProvider.java
  src/main/java/com/microsoft/graph/authentication/BaseAuthenticationProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update readme.md
  readme.md
Due: none

#300 DefaultSerializer can't unit class.
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/test/java/com/microsoft/graph/serializer/DefaultSerializerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

#300 DerivedClassIdentifier can't unit class.
  src/main/java/com/microsoft/graph/serializer/DerivedClassIdentifier.java
  src/test/java/com/microsoft/graph/serializer/DerivedClassIdentifierTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Create gradle-build.yml
  .github/workflows/gradle-build.yml
Due: .azure-pipelines/prValidate.yml

Update .github/workflows/gradle-build.yml
  .github/workflows/gradle-build.yml
Due: .azure-pipelines/prValidate.yml

Update gradle-build.yml
  .github/workflows/gradle-build.yml
Due: .azure-pipelines/prValidate.yml

Upload Artefacts
  .github/workflows/gradle-build.yml
Due: .azure-pipelines/prValidate.yml

Create build-and-publish.yml
  .github/workflows/build-and-publish.yml
Due: .azure-pipelines/prValidate.yml

Update .github/workflows/build-and-publish.yml
  .github/workflows/build-and-publish.yml
Due: .azure-pipelines/prValidate.yml

Update build-and-publish.yml
  .github/workflows/build-and-publish.yml
Due: .azure-pipelines/prValidate.yml
