Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:

#Copyright (c) Microsoft Corporation. All rights reserved.
#Licensed under the MIT License.
#Building and packaging the artifacts of the Java-Core libraries using the build.gradle file.
#Ready the package for deployment and release. 

trigger:
  branches:
    include:
      - dev
      - main
      - master
  paths:
    include:
      - src/*
    exclude:
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle
      - Scripts/*

pr: 
- dev
- master

pool:
  vmImage: windows-latest

variables: 
  DROP_PATH: '$(Agent.BuildDirectory)/Drop'

stages:
- stage: Build
  jobs:
  - job: Build
    steps:
    - template: templates/build/checkout-and-credscan.yml
    - template: templates/install-java.yml
    - template: templates/secure-files.yml
      parameters:
        stageID: 'build'
    - template: templates/build/build-and-coverage.yml
    - template: templates/build/publish-artefacts.yml

- stage: Maven_Preview
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/dev'))
  jobs: 
  - deployment: Maven_Preview
    environment: 'MSGraph SDK Development - Java'
    pool:
      vmImage: windows-latest
    strategy:
     runOnce:
      deploy:
        steps:
        - template: templates/download-artifacts.yml
          parameters:
            directoryPath: $(DROP_PATH)
        - template: templates/install-java.yml
        - template: templates/secure-files.yml
        - template: templates/copy-and-build.yml
          parameters:
            task: 'publishSnapshotPublicationToSonatypeSnapshotRepository'
            directoryPath: $(DROP_PATH)

- stage: Maven_Release_And_Github_Release
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  jobs:
  - deployment: Maven_Release
    environment: 'MSGraph SDK Development - Java'
    pool:
      vmImage: windows-latest
    strategy:
     runOnce:
      deploy:
        steps:
        - template: templates/download-artifacts.yml
          parameters:
            directoryPath: $(DROP_PATH)
        - template: templates/install-java.yml
        - template: templates/secure-files.yml
          parameters:
            stageID: 'release'
        - template: templates/copy-and-build.yml
          parameters:
            task: 'publishMavenCentralReleasePublicationToSonatypeRepository'
            directoryPath: $(DROP_PATH)

  - deployment: Github_Release
    dependsOn: Maven_Release
    environment: 'MSGraph SDK Development - Java'
    pool:
      vmImage: windows-latest
    strategy: 
     runOnce:
      deploy:
        steps: 
        - template: templates/download-artifacts.yml
          parameters:
            directoryPath: $(DROP_PATH)
        - template: templates/version-and-release.yml
          parameters:
            gitConnection: 'microsoftgraphrelease'
            directoryPath: $(DROP_PATH)

.azure-pipelines/prValidate.yml:

#Copyright (c) Microsoft Corporation. All rights reserved.
#Licensed under the MIT License.
#Build and test Java Core to make sure a valid pull request is being made
#Validate that the versions dont conflict with those online in case a pull request is made to main or master

pr: 
  branches:
    include:
      - dev
      - main
      - master
  paths:
    exclude:
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle
      - Scripts/*

trigger: none # disable triggers based on commits.

pool:
  vmImage: windows-latest

steps:
- template: templates/build/checkout-and-credscan.yml
- template: templates/build/install-java.yml
- template: templates/build/build-and-coverage.yml
- template: templates/alert-failure.yml

Update dependencies.gradle
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

Update CHANGELOG.md
  CHANGELOG.md
Due: .azure-pipelines/prValidate.yml

Update gradle.properties
  gradle.properties
Due: none

Update CoreConstants.java
  src/main/java/com/microsoft/graph/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update gradle/dependencies.gradle
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

UploadSession interface and class.
  src/main/java/com/microsoft/graph/Models/IUploadSession.java
  src/main/java/com/microsoft/graph/Models/UploadSession.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

LargeFile upload progress
  src/main/java/com/microsoft/graph/models/IProgressCallback.java
  src/main/java/com/microsoft/graph/models/IStatefulResponseHandler.java
  src/main/java/com/microsoft/graph/models/IUploadSession.java
  src/main/java/com/microsoft/graph/models/UploadSession.java
  src/main/java/com/microsoft/graph/requests/BaseClient.java
  src/main/java/com/microsoft/graph/requests/BaseGraphRequestAdapter.java
  src/main/java/com/microsoft/graph/requests/FeatureFlag.java
  src/main/java/com/microsoft/graph/requests/FeatureTracker.java
  src/main/java/com/microsoft/graph/requests/GraphClientFactory.java
  src/main/java/com/microsoft/graph/requests/GraphClientOption.java
  src/main/java/com/microsoft/graph/requests/IBaseClient.java
  src/main/java/com/microsoft/graph/requests/Middleware/GraphTelemetryHandler.java
  src/main/java/com/microsoft/graph/requests/upload/UploadResponseHandler.java
  src/main/java/com/microsoft/graph/requests/upload/UploadSessionRequestBuilder.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadRequest.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResponse.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResponseHandler.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResult.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
  src/test/java/com/microsoft/graph/requests/FeatureTrackerTest.java
  src/test/java/com/microsoft/graph/requests/Middleware/GraphTelemetryHandlerTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: .azure-pipelines/prValidate.yml

errors and upload response handler
  gradle/dependencies.gradle
  src/main/java/com/microsoft/graph/exceptions/Error.java
  src/main/java/com/microsoft/graph/exceptions/ErrorDetail.java
  src/main/java/com/microsoft/graph/exceptions/ErrorResponse.java
  src/main/java/com/microsoft/graph/models/UploadResult.java
  src/main/java/com/microsoft/graph/models/UploadSession.java
  src/main/java/com/microsoft/graph/requests/GraphClientFactory.java
  src/main/java/com/microsoft/graph/requests/upload/UploadResponseHandler.java
  src/main/java/com/microsoft/graph/requests/upload/UploadSessionRequestBuilder.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds missing dependency to fix docs refresh CI
  pom.xml
Due: .azure-pipelines/prValidate.yml

- aligns dependencies
  pom.xml
Due: .azure-pipelines/prValidate.yml

- typo fix
  pom.xml
Due: .azure-pipelines/prValidate.yml

- fixes dependencies that are needed publicly as exposed on public methods
  gradle.properties
  gradle/dependencies.gradle
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

response handler progress
  src/main/java/com/microsoft/graph/HttpResponseCode.java
  src/main/java/com/microsoft/graph/exceptions/Error.java
  src/main/java/com/microsoft/graph/exceptions/ErrorResponse.java
  src/main/java/com/microsoft/graph/models/UploadSession.java
  src/main/java/com/microsoft/graph/requests/GraphClientFactory.java
  src/main/java/com/microsoft/graph/requests/middleware/GraphTelemetryHandler.java
  src/main/java/com/microsoft/graph/requests/upload/UploadResponseHandler.java
  src/test/java/com/microsoft/graph/requests/middleware/GraphTelemetryHandlerTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- updates kiota dependencies
  android/build.gradle
  build.gradle
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

- adds authentication defaults for microsoft graph
  $buildDir/reports/spotbugs/test/spotbugs.html
  spotBugsExcludeFilter.xml
  src/main/java/com/microsoft/graph/authentication/AzureIdentityAccessTokenProvider.java
  src/main/java/com/microsoft/graph/authentication/AzureIdentityAuthenticationProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds missing annotation
  src/main/java/com/microsoft/graph/authentication/AzureIdentityAccessTokenProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- code linting
  src/main/java/com/microsoft/graph/authentication/AzureIdentityAccessTokenProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Adds Andrew as code owner
  .github/CODEOWNERS
Due: .azure-pipelines/prValidate.yml

- removes spotbug result file
  $buildDir/reports/spotbugs/test/spotbugs.html
Due: .azure-pipelines/prValidate.yml

- removes unnecessary dependency to fix conflict with azure identity
  CHANGELOG.md
  gradle.properties
  gradle/dependencies.gradle
  readme.md
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Cleanup code owners
  .github/CODEOWNERS
Due: .azure-pipelines/prValidate.yml

Enable dependabot on v3 branch
  .github/dependabot.yml
Due: .azure-pipelines/prValidate.yml

- adds auto merge workflow
  .github/workflows/auto-merge-dependabot.yml
Due: .azure-pipelines/prValidate.yml

Fix for new issues not added to board
  .github/workflows/projectsbot.yml
Due: .azure-pipelines/prValidate.yml

Fixes null pointer exception
  CHANGELOG.md
  src/main/java/com/microsoft/graph/http/GraphErrorResponse.java
  src/test/java/com/microsoft/graph/http/GraphErrorResponseTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update src/main/java/com/microsoft/graph/http/GraphErrorResponse.java
  src/main/java/com/microsoft/graph/http/GraphErrorResponse.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update src/test/java/com/microsoft/graph/http/GraphErrorResponseTests.java
  src/test/java/com/microsoft/graph/http/GraphErrorResponseTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

upload slice, result, request, response
  gradle/dependencies.gradle
  src/main/java/com/microsoft/graph/requests/GraphClientFactory.java
  src/main/java/com/microsoft/graph/requests/upload/UploadResponseHandler.java
  src/main/java/com/microsoft/graph/requests/upload/UploadSessionRequestBuilder.java
  src/main/java/com/microsoft/graph/requests/upload/UploadSliceRequestBuilder.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadRequest.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResponse.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResponseHandler.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResult.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTaskOld.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Change default timeout to align with other sdks.
  CHANGELOG.md
  gradle.properties
  src/main/java/com/microsoft/graph/httpcore/HttpClients.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update tests to validate timeout value.
  src/test/java/com/microsoft/graph/httpcore/HttpClientsTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

upload task
  src/main/java/com/microsoft/graph/requests/upload/UploadSliceRequestBuilder.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

large upload task commits
  src/main/java/com/microsoft/graph/requests/upload/UploadSessionRequestBuilder.java
  src/main/java/com/microsoft/graph/requests/upload/UploadSliceRequestBuilder.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

remove old classes
  src/main/java/com/microsoft/graph/requests/upload/UploadSessionRequestBuilder.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadRequest.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResponse.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResponseHandler.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResult.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTaskOld.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Large File Upload Task Needs exceptions, needs tests
  src/main/java/com/microsoft/graph/models/IStatefulResponseHandler.java
  src/main/java/com/microsoft/graph/models/IUploadSession.java
  src/main/java/com/microsoft/graph/models/UploadSession.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Refactoring and dependencies.gradle
  gradle/dependencies.gradle
  src/main/java/com/microsoft/graph/models/UploadResult.java
  src/main/java/com/microsoft/graph/models/UploadSession.java
  src/main/java/com/microsoft/graph/requests/upload/UploadResponseHandler.java
  src/main/java/com/microsoft/graph/requests/upload/UploadSessionRequestBuilder.java
  src/main/java/com/microsoft/graph/requests/upload/UploadSliceRequestBuilder.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
  src/test/java/com/microsoft/graph/tasks/LargeFileUploadTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Replace @Nullable annotations with @Nonnull in BaseRequestBuilder
  CHANGELOG.md
  gradle.properties
  src/main/java/com/microsoft/graph/http/BaseRequestBuilder.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml
