Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:

#Copyright (c) Microsoft Corporation. All rights reserved.
#Licensed under the MIT License.
#Building and packaging the artifacts of the Java-Core libraries using the build.gradle file.
#Ready the package for deployment and release. 

trigger:
  branches:
    include:
      - dev
      - main
      - master
  paths:
    include:
      - src/*
    exclude:
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle
      - Scripts/*

pr: 
- dev
- master

pool:
  vmImage: windows-latest

variables: 
  DROP_PATH: '$(Agent.BuildDirectory)/Drop'

stages:
- stage: Build
  jobs:
  - job: Build
    steps:
    - template: templates/build/checkout-and-credscan.yml
    - template: templates/install-java.yml
    - template: templates/secure-files.yml
      parameters:
        stageID: 'build'
    - template: templates/build/build-and-coverage.yml
    - template: templates/build/publish-artefacts.yml

- stage: Maven_Preview
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/dev'))
  jobs: 
  - deployment: Maven_Preview
    environment: 'MSGraph SDK Development - Java'
    pool:
      vmImage: windows-latest
    strategy:
     runOnce:
      deploy:
        steps:
        - template: templates/download-artifacts.yml
          parameters:
            directoryPath: $(DROP_PATH)
        - template: templates/install-java.yml
        - template: templates/secure-files.yml
        - template: templates/copy-and-build.yml
          parameters:
            task: 'publishSnapshotPublicationToSonatypeSnapshotRepository'
            directoryPath: $(DROP_PATH)

- stage: Maven_Release_And_Github_Release
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  jobs:
  - deployment: Maven_Release
    environment: 'MSGraph SDK Development - Java'
    pool:
      vmImage: windows-latest
    strategy:
     runOnce:
      deploy:
        steps:
        - template: templates/download-artifacts.yml
          parameters:
            directoryPath: $(DROP_PATH)
        - template: templates/install-java.yml
        - template: templates/secure-files.yml
          parameters:
            stageID: 'release'
        - template: templates/copy-and-build.yml
          parameters:
            task: 'publishMavenCentralReleasePublicationToSonatypeRepository'
            directoryPath: $(DROP_PATH)

  - deployment: Github_Release
    dependsOn: Maven_Release
    environment: 'MSGraph SDK Development - Java'
    pool:
      vmImage: windows-latest
    strategy: 
     runOnce:
      deploy:
        steps: 
        - template: templates/download-artifacts.yml
          parameters:
            directoryPath: $(DROP_PATH)
        - template: templates/version-and-release.yml
          parameters:
            gitConnection: 'microsoftgraphrelease'
            directoryPath: $(DROP_PATH)

.azure-pipelines/prValidate.yml:

#Copyright (c) Microsoft Corporation. All rights reserved.
#Licensed under the MIT License.
#Build and test Java Core to make sure a valid pull request is being made
#Validate that the versions dont conflict with those online in case a pull request is made to main or master

pr: 
  branches:
    include:
      - dev
      - main
      - master
  paths:
    exclude:
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle
      - Scripts/*

trigger: none # disable triggers based on commits.

pool:
  vmImage: windows-latest

steps:
- template: templates/build/checkout-and-credscan.yml
- template: templates/build/install-java.yml
- template: templates/build/build-and-coverage.yml
- template: templates/alert-failure.yml

Fix tests
  src/main/java/com/microsoft/graph/exceptions/ServiceException.java
  src/test/java/com/microsoft/graph/content/BatchResponseContentTest.java
  src/test/java/com/microsoft/graph/requests/upload/UploadResponseHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds suppressions for new spotbugs rules
  spotBugsExcludeFilter.xml
Due: .azure-pipelines/prValidate.yml

- adds suppressions for new spotbug rules in main
  spotBugsExcludeFilter.xml
Due: .azure-pipelines/prValidate.yml

- adds suppressions for new spotbug rules in tests
  spotBugsExcludeFilter.xml
Due: .azure-pipelines/prValidate.yml

Update CHANGELOG.md
  CHANGELOG.md
Due: .azure-pipelines/prValidate.yml

Prepare for version 2.0.20
  android/gradle.properties
  gradle.properties
  readme.md
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Begin Work for Async->Sync revert
  spotBugsExcludeFilter.xml
  src/main/java/com/microsoft/graph/content/BatchRequestContent.java
  src/main/java/com/microsoft/graph/content/BatchRequestContentCollection.java
  src/main/java/com/microsoft/graph/content/BatchResponseContent.java
  src/main/java/com/microsoft/graph/content/BatchResponseContentCollection.java
  src/main/java/com/microsoft/graph/requests/BatchRequestBuilder.java
  src/main/java/com/microsoft/graph/requests/ResponseBodyHandler.java
  src/main/java/com/microsoft/graph/requests/upload/UploadResponseHandler.java
  src/main/java/com/microsoft/graph/requests/upload/UploadSessionRequestBuilder.java
  src/main/java/com/microsoft/graph/requests/upload/UploadSliceRequestBuilder.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
  src/main/java/com/microsoft/graph/tasks/PageIterator.java
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
  src/test/java/com/microsoft/graph/content/BatchResponseContentTest.java
  src/test/java/com/microsoft/graph/requests/BatchRequestBuilderTest.java
  src/test/java/com/microsoft/graph/tasks/PageIteratorTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes additional references to futures
  src/main/java/com/microsoft/graph/requests/ResponseBodyHandler.java
  src/main/java/com/microsoft/graph/tasks/PageIterator.java
  src/test/java/com/microsoft/graph/tasks/PageIteratorTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- removes async suffixes
  src/main/java/com/microsoft/graph/content/BatchRequestContent.java
  src/main/java/com/microsoft/graph/content/BatchResponseContentCollection.java
  src/main/java/com/microsoft/graph/requests/BatchRequestBuilder.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
  src/main/java/com/microsoft/graph/tasks/PageIterator.java
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
  src/test/java/com/microsoft/graph/content/BatchResponseContentTest.java
  src/test/java/com/microsoft/graph/requests/BatchRequestBuilderTest.java
  src/test/java/com/microsoft/graph/requests/upload/UploadResponseHandlerTest.java
  src/test/java/com/microsoft/graph/requests/upload/UploadSliceRequestTest.java
  src/test/java/com/microsoft/graph/tasks/PageIteratorTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Use compatibility.isBlank for empty string check
  src/main/java/com/microsoft/graph/content/BatchRequestContent.java
  src/main/java/com/microsoft/graph/exceptions/ClientException.java
  src/main/java/com/microsoft/graph/exceptions/ServiceException.java
  src/main/java/com/microsoft/graph/models/BatchRequestStep.java
  src/main/java/com/microsoft/graph/models/UploadSession.java
  src/main/java/com/microsoft/graph/requests/BaseGraphRequestAdapter.java
  src/main/java/com/microsoft/graph/requests/options/GraphClientOption.java
  src/main/java/com/microsoft/graph/requests/upload/UploadSessionRequestBuilder.java
  src/main/java/com/microsoft/graph/requests/upload/UploadSliceRequestBuilder.java
  src/main/java/com/microsoft/graph/tasks/PageIterator.java
  src/test/java/com/microsoft/graph/content/BatchResponseContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Remove Service and Client Exception classes
  spotBugsExcludeFilter.xml
  src/main/java/com/microsoft/graph/ErrorConstants.java
  src/main/java/com/microsoft/graph/content/BatchRequestContent.java
  src/main/java/com/microsoft/graph/content/BatchRequestContentCollection.java
  src/main/java/com/microsoft/graph/content/BatchResponseContent.java
  src/main/java/com/microsoft/graph/exceptions/ClientException.java
  src/main/java/com/microsoft/graph/exceptions/ServiceException.java
  src/main/java/com/microsoft/graph/models/BatchRequestStep.java
  src/main/java/com/microsoft/graph/models/UploadSession.java
  src/main/java/com/microsoft/graph/requests/BatchRequestBuilder.java
  src/main/java/com/microsoft/graph/requests/ResponseBodyHandler.java
  src/main/java/com/microsoft/graph/requests/upload/UploadResponseHandler.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
  src/main/java/com/microsoft/graph/tasks/PageIterator.java
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
  src/test/java/com/microsoft/graph/content/BatchResponseContentTest.java
  src/test/java/com/microsoft/graph/requests/upload/UploadResponseHandlerTest.java
  src/test/java/com/microsoft/graph/tasks/PageIteratorTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Use parent Call.Factory of OkHttpClient to be able to use OpenTelemetry
  src/main/java/com/microsoft/graph/core/BaseClient.java
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Update changelog and add info how to use OpenTelemetry with GraphServiceClient
  CHANGELOG.md
Due: .azure-pipelines/prValidate.yml

Remove usage of generics
  src/main/java/com/microsoft/graph/core/BaseClient.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- bumps patch version
  CHANGELOG.md
  gradle.properties
Due: .azure-pipelines/prValidate.yml

- adds a check secret step for the sonarcloud workflow to avoid failures on PRs
  .github/workflows/sonarcloud.yml
Due: .azure-pipelines/prValidate.yml

Add Client Exception back, Throw ApiExceptions
  src/main/java/com/microsoft/graph/content/BatchRequestContent.java
  src/main/java/com/microsoft/graph/exceptions/ClientException.java
  src/main/java/com/microsoft/graph/requests/BatchRequestBuilder.java
  src/main/java/com/microsoft/graph/requests/ResponseBodyHandler.java
  src/main/java/com/microsoft/graph/requests/upload/UploadResponseHandler.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
  src/test/java/com/microsoft/graph/content/BatchRequestContentTest.java
  src/test/java/com/microsoft/graph/content/BatchResponseContentTest.java
  src/test/java/com/microsoft/graph/requests/BatchRequestBuilderTest.java
  src/test/java/com/microsoft/graph/requests/upload/UploadResponseHandlerTest.java
  src/test/java/com/microsoft/graph/requests/upload/UploadSliceRequestTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Code review and Kiota-Java version bump
  gradle/dependencies.gradle
  src/main/java/com/microsoft/graph/content/BatchRequestContent.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Code review and Kiota-Java version bump
  src/main/java/com/microsoft/graph/content/BatchRequestContent.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- code linting
  src/main/java/com/microsoft/graph/content/BatchResponseContent.java
  src/main/java/com/microsoft/graph/content/BatchResponseContentCollection.java
  src/main/java/com/microsoft/graph/requests/ResponseBodyHandler.java
  src/test/java/com/microsoft/graph/content/BatchResponseContentTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

version bumps
  android/gradle.properties
  gradle.properties
  gradle/dependencies.gradle
  readme.md
  src/main/java/com/microsoft/graph/CoreConstants.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- removes quava from dependencies
  gradle/dependencies.gradle
  src/main/java/com/microsoft/graph/requests/upload/UploadResponseHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Enum Refactor Release Candidate
  CHANGELOG.md
  gradle.properties
  gradle/dependencies.gradle
  src/main/java/com/microsoft/graph/requests/BatchRequestBuilder.java
  src/main/java/com/microsoft/graph/requests/upload/UploadSessionRequestBuilder.java
  src/main/java/com/microsoft/graph/requests/upload/UploadSliceRequestBuilder.java
  src/main/java/com/microsoft/graph/tasks/PageIterator.java
  src/test/java/com/microsoft/graph/testModels/TestBodyType.java
  src/test/java/com/microsoft/graph/testModels/TestItemBody.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

lint
  src/main/java/com/microsoft/graph/requests/BaseGraphRequestAdapter.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

fix test
  src/test/java/com/microsoft/graph/tasks/PageIteratorTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

no suffix
  gradle.properties
Due: none

changlog
  CHANGELOG.md
Due: .azure-pipelines/prValidate.yml

changelog
  CHANGELOG.md
Due: .azure-pipelines/prValidate.yml

kick off tests
  src/main/java/com/microsoft/graph/requests/BatchRequestBuilder.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- upgrades to gradle wrapper 8.5
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: .azure-pipelines/prValidate.yml

- upgrades to gradle wrapper 8.5
  samples/deviceCodeSample/gradle/wrapper/gradle-wrapper.jar
  samples/deviceCodeSample/gradle/wrapper/gradle-wrapper.properties
  samples/deviceCodeSample/gradlew
  samples/interactiveBrowserSample/gradle/wrapper/gradle-wrapper.jar
  samples/interactiveBrowserSample/gradle/wrapper/gradle-wrapper.properties
  samples/interactiveBrowserSample/gradlew
Due: .azure-pipelines/prValidate.yml

- adds groups configuration
  .github/dependabot.yml
Due: .azure-pipelines/prValidate.yml

Update dependencies.gradle
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

fix import statements in tests
  src/test/java/com/microsoft/graph/core/content/BatchResponseContentTest.java
  src/test/java/com/microsoft/graph/core/tasks/PageIteratorTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml
