Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:

#Copyright (c) Microsoft Corporation. All rights reserved.
#Licensed under the MIT License.
#Building and packaging the artifacts of the Java-Core libraries using the build.gradle file.
#Ready the package for deployment and release. 

trigger:
  branches:
    include:
      - dev
      - main
      - master
  paths:
    include:
      - src/*
    exclude:
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - build.gradle
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle
      - Scripts/*

pr: none

pool:
  vmImage: 'windows-latest'

steps:
- checkout: self
  clean: true
  fetchDepth: 1

- task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  displayName: 'Run CredScan'
  inputs:
    debugMode: false

- task: DownloadSecureFile@1
  inputs:
    secureFile: 'local.properties'

- task: DownloadSecureFile@1
  inputs:
    secureFile: 'secring.gpg'

- task: DownloadSecureFile@1
  inputs:
    secureFile: 'secring.gpg.lock'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Agent.TempDirectory)'
    Contents: '**'
    TargetFolder: '$(System.DefaultWorkingDirectory)'

- task: Gradle@2
  inputs:
    gradleWrapperFile: 'gradlew'
    tasks: 'build'
    publishJUnitResults: true
    testResultsFiles: '**/TEST-*.xml'
    javaHomeOption: 'JDKVersion'
    sonarQubeRunAnalysis: false

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)'
    Contents: |
      **/libs/*
      build/generated-pom.xml
      build/generated-pom.xml.asc
      build.gradle
      gradlew
      gradlew.bat
      settings.gradle
      gradle.properties
      **/gradle/*
      Scripts/getLatestVersion.ps1
    TargetFolder: '$(Build.ArtifactStagingDirectory)/'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

- task: YodLabs.O365PostMessage.O365PostMessageBuild.O365PostMessageBuild@0
  displayName: 'Graph Client Tooling pipeline fail notification'
  inputs:
    addressType: serviceEndpoint
    serviceEndpointName: 'microsoftgraph pipeline status'
    title: '$(Build.DefinitionName) failure notification'
    text: 'This pipeline has failed. View the build details for further information. This is a blocking failure.'
  condition: and(failed(), ne(variables['Build.Reason'], 'Manual'))
  enabled: true

.azure-pipelines/prValidate.yml:

#Copyright (c) Microsoft Corporation. All rights reserved.
#Licensed under the MIT License.
#Build and test Java Core to make sure a valid pull request is being made
#Validate that the versions dont conflict with those online in case a pull request is made to main or master

pr: 
  branches:
    include:
      - dev
      - main
      - master
      - feature/v2
  paths:
    exclude:
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle
      - Scripts/*

trigger: none # disable triggers based on commits.

pool:
  vmImage: windows-latest

steps:
- template: templates/checkout-and-credscan.yml
- template: templates/install-java.yml
- template: templates/build-and-coverage.yml
- template: templates/alert-failure.yml

- adds spotbugs base configuration
  build.gradle
Due: .azure-pipelines/prValidate.yml

- fixes static analysis errors as example
  src/main/java/com/microsoft/graph/serializer/CollectionResponseSerializer.java
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- lints serializer package
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/main/java/com/microsoft/graph/serializer/GsonFactory.java
  src/main/java/com/microsoft/graph/serializer/ISerializer.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a first set of linting issues
  src/main/java/com/microsoft/graph/content/BatchRequestBuilder.java
  src/main/java/com/microsoft/graph/core/BaseClient.java
  src/main/java/com/microsoft/graph/core/Multipart.java
  src/main/java/com/microsoft/graph/http/BaseCollectionPage.java
  src/main/java/com/microsoft/graph/http/BaseRequest.java
  src/main/java/com/microsoft/graph/http/GraphFatalServiceException.java
  src/main/java/com/microsoft/graph/http/GraphServiceException.java
  src/main/java/com/microsoft/graph/http/IHttpRequest.java
  src/main/java/com/microsoft/graph/options/FunctionOption.java
  src/main/java/com/microsoft/graph/options/HeaderOption.java
  src/main/java/com/microsoft/graph/options/Option.java
  src/main/java/com/microsoft/graph/options/QueryOption.java
  src/test/java/com/microsoft/graph/http/GraphServiceExceptionTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes mocks after linting
  src/test/java/com/microsoft/graph/httpcore/TelemetryHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- lints content package
  src/main/java/com/microsoft/graph/content/BatchRequestContent.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- lints concurrency package
  src/main/java/com/microsoft/graph/concurrency/ChunkedUploadRequest.java
  src/main/java/com/microsoft/graph/concurrency/ChunkedUploadResponseHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- lints httpcore package
  src/main/java/com/microsoft/graph/httpcore/AuthenticationHandler.java
  src/main/java/com/microsoft/graph/httpcore/ChaosHttpHandler.java
  src/main/java/com/microsoft/graph/httpcore/RedirectHandler.java
  src/main/java/com/microsoft/graph/httpcore/RetryHandler.java
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- enables html report for tests spotbugs
  build.gradle
Due: .azure-pipelines/prValidate.yml

- lints http package
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds spotbugs exclusions
  build.gradle
  spotBugsExcludeFilter.xml
Due: .azure-pipelines/prValidate.yml

- lints unit tests
  src/test/java/com/microsoft/graph/authentication/TokenCredentialAuthProviderTest.java
  src/test/java/com/microsoft/graph/content/BatchResponseContentTest.java
  src/test/java/com/microsoft/graph/core/BaseClientTests.java
  src/test/java/com/microsoft/graph/core/GraphServiceClientTest.java
  src/test/java/com/microsoft/graph/http/BaseCollectionPageTests.java
  src/test/java/com/microsoft/graph/http/BaseCollectionRequestTests.java
  src/test/java/com/microsoft/graph/http/BaseRequestBuilderTests.java
  src/test/java/com/microsoft/graph/http/BaseRequestTests.java
  src/test/java/com/microsoft/graph/http/BaseStreamRequestTests.java
  src/test/java/com/microsoft/graph/http/GraphFatalServiceExceptionTests.java
  src/test/java/com/microsoft/graph/http/GraphServiceExceptionTests.java
  src/test/java/com/microsoft/graph/http/ReferenceRequestBodyTests.java
  src/test/java/com/microsoft/graph/httpcore/RetryHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds missing defensive programming for nonnull annotations
  src/main/java/com/microsoft/graph/concurrency/ChunkedUploadProvider.java
  src/main/java/com/microsoft/graph/concurrency/ChunkedUploadRequest.java
  src/main/java/com/microsoft/graph/concurrency/ChunkedUploadResponseHandler.java
  src/main/java/com/microsoft/graph/concurrency/ChunkedUploadResult.java
  src/main/java/com/microsoft/graph/content/BatchRequest.java
  src/main/java/com/microsoft/graph/core/BaseClient.java
  src/main/java/com/microsoft/graph/core/CustomRequestBuilder.java
  src/main/java/com/microsoft/graph/core/DateOnly.java
  src/main/java/com/microsoft/graph/core/Multipart.java
  src/main/java/com/microsoft/graph/core/TimeOfDay.java
  src/main/java/com/microsoft/graph/http/BaseCollectionRequest.java
  src/main/java/com/microsoft/graph/http/BaseCollectionRequestBuilder.java
  src/main/java/com/microsoft/graph/http/BaseCollectionResponse.java
  src/main/java/com/microsoft/graph/http/BaseCollectionWithReferencesRequestBuilder.java
  src/main/java/com/microsoft/graph/http/BaseDeltaCollectionRequest.java
  src/main/java/com/microsoft/graph/http/BaseEntityCollectionRequest.java
  src/main/java/com/microsoft/graph/http/BaseReferenceRequestBuilder.java
  src/main/java/com/microsoft/graph/http/BaseRequest.java
  src/main/java/com/microsoft/graph/http/BaseRequestBuilder.java
  src/main/java/com/microsoft/graph/http/BaseStreamRequest.java
  src/main/java/com/microsoft/graph/http/BaseWithReferenceRequest.java
  src/main/java/com/microsoft/graph/http/BaseWithReferenceRequestBuilder.java
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
  src/main/java/com/microsoft/graph/http/CustomRequest.java
  src/main/java/com/microsoft/graph/http/GraphError.java
  src/main/java/com/microsoft/graph/http/GraphErrorResponse.java
  src/main/java/com/microsoft/graph/http/GraphServiceException.java
  src/main/java/com/microsoft/graph/http/PrimitiveRequestBuilder.java
  src/main/java/com/microsoft/graph/http/ReferenceRequestBody.java
  src/main/java/com/microsoft/graph/httpcore/HttpClients.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/TelemetryOptions.java
  src/main/java/com/microsoft/graph/logger/DefaultLogger.java
  src/main/java/com/microsoft/graph/serializer/ByteArraySerializer.java
  src/main/java/com/microsoft/graph/serializer/CollectionPageSerializer.java
  src/main/java/com/microsoft/graph/serializer/DefaultSerializer.java
  src/main/java/com/microsoft/graph/serializer/EnumSetSerializer.java
  src/main/java/com/microsoft/graph/serializer/FallbackTypeAdapterFactory.java
  src/main/java/com/microsoft/graph/serializer/OffsetDateTimeSerializer.java
  src/test/java/com/microsoft/graph/http/GraphErrorResponseTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds checkstyle configuration
  .vscode/settings.json
  build.gradle
  config/checkstyle/checkstyle.xml
Due: .azure-pipelines/prValidate.yml

- adds recommended extensions
  .vscode/extensions.json
Due: .azure-pipelines/prValidate.yml

- aligns indent size in editor config with checkstyle
  .editorconfig
Due: .azure-pipelines/prValidate.yml

- fixes the style of chaos handler as demonstration
  src/main/java/com/microsoft/graph/httpcore/ChaosHttpHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes samples build after setting up checkstyle
  build.gradle
Due: .azure-pipelines/prValidate.yml

- adds sonarcloud configuration
  .github/workflows/sonarcloud.yml
  build.gradle
Due: .azure-pipelines/prValidate.yml

- adds rules for SQ worklow fake mainline
  .github/workflows/sonarcloud.yml
Due: .azure-pipelines/prValidate.yml

- fixes execution perm on wrapper
  .github/workflows/sonarcloud.yml
Due: .azure-pipelines/prValidate.yml

- fixes a bug where errors would be swallowed for chunk upload requests
  src/main/java/com/microsoft/graph/concurrency/ChunkedUploadRequest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where the nullability annotation would be stricter than the interface
  src/main/java/com/microsoft/graph/http/BaseCollectionRequest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- renames large file upload to match specification
  spotBugsExcludeFilter.xml
  src/main/java/com/microsoft/graph/tasks/IProgressCallback.java
  src/main/java/com/microsoft/graph/tasks/IUploadSession.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadRequest.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResponseHandler.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResult.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- remove references to native http type in interfaces - removes useless method in interface - adds result wrapper for consumers for large file uploads
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
  src/main/java/com/microsoft/graph/http/IStatefulResponseHandler.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadRequest.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResponse.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResponseHandler.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResult.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- removes fully qualified names for completablefutures
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadTask.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where the retry handler would use the response streaming information instead of the requst to evaluate
  src/main/java/com/microsoft/graph/httpcore/RetryHandler.java
  src/test/java/com/microsoft/graph/httpcore/RetryHandlerTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- bumps patch version
  gradle.properties
  readme.md
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where errors would log payload even on error verbosity
  src/main/java/com/microsoft/graph/http/GraphServiceException.java
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadResponse.java
  src/test/java/com/microsoft/graph/http/GraphServiceExceptionTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where native EDM return types would not be deserialized properly
  src/main/java/com/microsoft/graph/serializer/EdmNativeTypeSerializer.java
  src/main/java/com/microsoft/graph/serializer/GsonFactory.java
  src/test/java/com/microsoft/graph/serializer/EdmNativeTypeSerializerTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where the content type for requests with empty bodies would be wrongfully defaulted
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
  src/test/java/com/microsoft/graph/http/CoreHttpProviderTests.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- indent is evil 😈
  src/main/java/com/microsoft/graph/serializer/EdmNativeTypeSerializer.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- removes feature/v2 branch from ci triggers
  .azure-pipelines/buildAndPackage.yml
  .azure-pipelines/prValidate.yml
  .github/workflows/api-level-lint.yml
Due: .azure-pipelines/prValidate.yml

- moves to java 16 for CI
  .azure-pipelines/templates/install-java.yml
  .github/workflows/api-level-lint.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/sample-build-check.yml
Due: .azure-pipelines/prValidate.yml

- fixes links pointing to old wiki
  readme.md
Due: none

- adds missing distribution information for jdk installation
  .github/workflows/api-level-lint.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/sample-build-check.yml
Due: .azure-pipelines/prValidate.yml

- fixes retry/redirect options customization
  src/main/java/com/microsoft/graph/http/BaseCollectionRequest.java
  src/main/java/com/microsoft/graph/http/BaseRequest.java
  src/main/java/com/microsoft/graph/http/BaseStreamRequest.java
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
  src/main/java/com/microsoft/graph/http/IHttpRequest.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/RetryOptions.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes retry/redirect options customization
  src/main/java/com/microsoft/graph/http/CoreHttpProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

LargeFileUploadRequest should be succeeded if upload completed
  src/main/java/com/microsoft/graph/tasks/LargeFileUploadRequest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- updates target compiler java and adds missing dependencies in pom.xml
  pom.xml
Due: .azure-pipelines/prValidate.yml
