Repository microsoftgraph/msgraph-sdk-java-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

.azure-pipelines/buildAndPackage.yml:

trigger:
  branches:
    include:
      - dev
      - main
      - master
  paths:
    include:
      - src/*
    exclude:
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - build.gradle
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle

pr: none

pool:
  vmImage: 'windows-latest'

steps:
- checkout: self
  clean: true
  fetchDepth: 1

- task: DownloadSecureFile@1
  inputs:
    secureFile: 'local.properties'

- task: DownloadSecureFile@1
  inputs:
    secureFile: 'secring.gpg'

- task: DownloadSecureFile@1
  inputs:
    secureFile: 'secring.gpg.lock'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Agent.TempDirectory)'
    Contents: '**'
    TargetFolder: '$(System.DefaultWorkingDirectory)'

- task: Gradle@2
  inputs:
    gradleWrapperFile: 'gradlew'
    tasks: 'build'
    publishJUnitResults: true
    testResultsFiles: '**/TEST-*.xml'
    javaHomeOption: 'JDKVersion'
    sonarQubeRunAnalysis: false

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)'
    Contents: |
      **/libs/*
      build.gradle
      gradlew
      gradlew.bat
      settings.gradle
      gradle.properties
      **/gradle/wrapper/*
    TargetFolder: '$(Build.ArtifactStagingDirectory)/'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

- task: YodLabs.O365PostMessage.O365PostMessageBuild.O365PostMessageBuild@0
  displayName: 'Graph Client Tooling pipeline fail notification'
  inputs:
    addressType: serviceEndpoint
    serviceEndpointName: 'microsoftgraph pipeline status'
    title: '$(Build.DefinitionName) failure notification'
    text: 'This pipeline has failed. View the build details for further information. This is a blocking failure.'
  condition: and(failed(), ne(variables['Build.Reason'], 'Manual'))
  enabled: true

.azure-pipelines/prValidate.yml:

# Build and test Java Core to make sure a valid pull request is being made 
pr: 
  branches:
    include:
      - master
      - main
      - dev
  paths:
    exclude:
      - .azure-pipelines
      - .gradle/wrapper
      - .gitignore
      - CONTRIBUTING.md
      - LICENSE
      - THIRD PARTY NOTICES
      - gradle.properties
      - gradlew
      - gradlew.bat
      - readme.md
      - settings.gradle

trigger: none # disable triggers based on commits.

variables:
  PACKAGE_NAME: 'microsoft-graph-core'
  PROPERTIES_PATH: '.\gradle.properties'

pool: 
  vmImage: windows-latest

steps:
- checkout: self
  clean: true
  fetchDepth: 1

- task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  displayName: 'Run CredScan'
  inputs:
    debugMode: false

- task: PowerShell@2
  condition: and(failed(), eq(variables['Build.SourceBranchName'], 'dev'))
  inputs:
    filePath: '$(System.DefaultWorkingDirectory)\Scripts\validateMavenVersion.ps1'
    pwsh: true
    arguments: '-packageName "$(PACKAGE_NAME)" -propertiesPath "$(PROPERTIES_PATH)"'

- task: Gradle@2
  inputs:
    gradleWrapperFile: 'gradlew'
    tasks: 'build'
    publishJUnitResults: true
    testResultsFiles: '**/TEST-*.xml'
    javaHomeOption: 'JDKVersion'
    sonarQubeRunAnalysis: false


- task: YodLabs.O365PostMessage.O365PostMessageBuild.O365PostMessageBuild@0
  displayName: 'Graph Client Tooling pipeline fail notification'
  inputs:
    addressType: serviceEndpoint
    serviceEndpointName: 'microsoftgraph pipeline status'
    title: '$(Build.DefinitionName) failure notification'
    text: 'This pipeline has failed. View the build details for further information. This is a blocking failure. '
  condition: and(failed(), ne(variables['Build.Reason'], 'Manual'))
  enabled: true

- flattens the arrow ;-)
  src/main/java/com/microsoft/graph/content/MSBatchRequestContent.java
  src/main/java/com/microsoft/graph/content/MSBatchResponseContent.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- sets the auto-generated ids to be positive for user-friendliness
  src/main/java/com/microsoft/graph/content/MSBatchRequestContent.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes #71 batch dependencies need to be in order
  src/main/java/com/microsoft/graph/content/MSBatchRequestContent.java
  src/main/java/com/microsoft/graph/content/MSBatchResponseContent.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- bumps version to 1.0.4
  gradle.properties
  readme.md
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes a bug where the retry handler could leak responses
  src/main/java/com/microsoft/graph/httpcore/RetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds a chaos handler to ease up unit testing
  src/main/java/com/microsoft/graph/httpcore/ChaosHttpHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- applies code review suggestions
  src/main/java/com/microsoft/graph/httpcore/ChaosHttpHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- turns on automatic module for JPMS
  build.gradle
Due: .azure-pipelines/prValidate.yml

- fixes jigsaw module name to make it unique
  build.gradle
Due: .azure-pipelines/prValidate.yml

- fixes multiple bugs where httpclient would be partially configured
  src/main/java/com/microsoft/graph/httpcore/HttpClients.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- bumps version to 1.0.5
  gradle.properties
  readme.md
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds pom placeholder so dependency graph shows up
  .gitignore
  build.gradle
  pom.xml
Due: .azure-pipelines/prValidate.yml

- removes dependabot configuration for maven
  .github/dependabot.yml
Due: .azure-pipelines/prValidate.yml

- aligns ok http version on service sdk
  build.gradle
Due: .azure-pipelines/prValidate.yml

- adds dependabot for actions
  .github/dependabot.yml
Due: .azure-pipelines/prValidate.yml

- adds android project structure
  android/.gitignore
  android/AndroidManifest.xml
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/settings.gradle
Due: .azure-pipelines/prValidate.yml

- moves dependencies in dedicated file
  build.gradle
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

- adds linting pipeline
  .github/workflows/api-level-lint.yml
Due: .azure-pipelines/prValidate.yml

- upgrades wrapper
  gradle/wrapper/gradle-wrapper.properties
Due: .azure-pipelines/prValidate.yml

- temporary CI configuration for v2 branch
  .github/workflows/api-level-lint.yml
Due: .azure-pipelines/prValidate.yml

- adds report upload in case of failure
  .github/workflows/api-level-lint.yml
Due: .azure-pipelines/prValidate.yml

- upgrades to latest sdk version
  android/build.gradle
Due: .azure-pipelines/prValidate.yml

- fixes missing nonnull nullable annotations
  src/main/java/com/microsoft/graph/content/MSBatchRequestContent.java
  src/main/java/com/microsoft/graph/content/MSBatchRequestStep.java
  src/main/java/com/microsoft/graph/content/MSBatchResponseContent.java
  src/main/java/com/microsoft/graph/httpcore/AuthenticationHandler.java
  src/main/java/com/microsoft/graph/httpcore/ChaosHttpHandler.java
  src/main/java/com/microsoft/graph/httpcore/HttpClients.java
  src/main/java/com/microsoft/graph/httpcore/ICoreAuthenticationProvider.java
  src/main/java/com/microsoft/graph/httpcore/RedirectHandler.java
  src/main/java/com/microsoft/graph/httpcore/RetryHandler.java
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/IShouldRedirect.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/IShouldRetry.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/RedirectOptions.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/RetryOptions.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/TelemetryOptions.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds JSR305 dependency
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

- suppresses lambda warning
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/RetryOptions.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds missing nonnull annotation
  src/main/java/com/microsoft/graph/httpcore/HttpClients.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- fixes compliance issue with java bean spec
  src/main/java/com/microsoft/graph/httpcore/TelemetryHandler.java
  src/main/java/com/microsoft/graph/httpcore/middlewareoption/TelemetryOptions.java
  src/test/java/com/microsoft/graph/httpcore/TelemetryOptionsTest.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- updates documented API level
  readme.md
Due: none

- adds a script to automatically increment minor version
  .azure-pipelines/buildAndPackage.yml
  .azure-pipelines/prValidate.yml
  Scripts/getLatestVersion.ps1
  Scripts/incrementMinorVersion.ps1
  Scripts/validateMavenVersion.ps1
Due: .azure-pipelines/prValidate.yml

- updates synopsis to reflect script effects
  Scripts/incrementMinorVersion.ps1
Due: .azure-pipelines/prValidate.yml

- improves batches replacement by using regex saving compute
  src/main/java/com/microsoft/graph/content/MSBatchRequestContent.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- adds missing dependency following merge
  gradle/dependencies.gradle
Due: .azure-pipelines/prValidate.yml

- adds missing nullable nonnull annotations
  src/main/java/com/microsoft/graph/authentication/IAuthenticationProvider.java
  src/main/java/com/microsoft/graph/authentication/TokenCredentialAuthProvider.java
  src/main/java/com/microsoft/graph/exceptions/AuthenticationException.java
  src/main/java/com/microsoft/graph/exceptions/Error.java
  src/main/java/com/microsoft/graph/exceptions/ErrorConstants.java
  src/main/java/com/microsoft/graph/httpcore/IHttpRequest.java
  src/main/java/com/microsoft/graph/options/HeaderOption.java
  src/main/java/com/microsoft/graph/options/Option.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- ignores duplicated class warning
  android/build.gradle
Due: .azure-pipelines/prValidate.yml

Apply suggestions from code review
  samples/deviceCodeSample/build.gradle
  samples/interactiveBrowserSample/build.gradle
  samples/interactiveBrowserSample/src/main/java/interactiveBrowserMain.java
Due: .azure-pipelines/prValidate.yml

- adds missing gitignore files for samples
  samples/deviceCodeSample/.gitignore
  samples/interactiveBrowserSample/.gitignore
Due: .azure-pipelines/prValidate.yml

- updates wrapper to latest
  samples/deviceCodeSample/gradle/wrapper/gradle-wrapper.properties
  samples/deviceCodeSample/gradlew
  samples/deviceCodeSample/gradlew.bat
Due: .azure-pipelines/prValidate.yml

- updates reference to credential helper as signature changed
  samples/deviceCodeSample/src/main/java/deviceCodeFlowMain.java
Due: .azure-pipelines/prValidate.yml

- adds missing wrapper for sample
  samples/interactiveBrowserSample/gradle/wrapper/gradle-wrapper.jar
  samples/interactiveBrowserSample/gradle/wrapper/gradle-wrapper.properties
  samples/interactiveBrowserSample/gradlew
  samples/interactiveBrowserSample/gradlew.bat
Due: .azure-pipelines/prValidate.yml

- removes dependency on simple json as it was not adding value - fixes reference to tokencrendtial
  samples/interactiveBrowserSample/src/main/java/interactiveBrowserMain.java
Due: .azure-pipelines/prValidate.yml
